@(books:List[(String, Long)], bookForm:
Form[(String,String)])(implicit session:Session)

@import helper._

@main("Welcome to your Workingspace"){
    <h1>@session.get("userName")'s Working Space</h1>

    @form(routes.Application.groups){
	<input type="submit" value="Go to groups -->" >
    }

    <h2>Your books: </h2>

    <u1>
         @books.map {b =>
             <li>@b._1 : @b._2</li>
	 }
    </u1>

    <h2>Add a book:</h2>
	     
    @form(routes.Application.loadBook,
	     'enctype -> "multipart/form-data"){
        <input type="file" name="book">
	<p>
	     <input type="submit">
	</p>
    }

    @form(routes.Application.newBook){
	@inputText(bookForm("title"))
        @inputText(bookForm("book id"))
        <input type="submit" value="Go!">
    }

}