@(books:List[(String, Long)], bookForm:Form[Book])(implicit session:Session)

@import helper._

@main("Welcome to your Workingspace"){
    <h1>@session.get("userName")'s Working Space</h1>

    @form(routes.Application.groups){
	<input type="submit" value="Go to groups -->" >
    }

    <h2>Your books: </h2>

    <u1>
         @books.map {b =>
             <li>@b._1 : @b._2</li>
	 }
    </u1>

    <h2>Add a book:</h2>
	     
    @form(routes.Application.loadBook,
	     'enctype -> "multipart/form-data"){
        <input type="file" name="book">
	<p>
	     <input type="submit">
	</p>
    }

    @form(routes.Application.newBook){
        @inputText(bookForm("id"))
	    @inputText(bookForm("title"))
        @repeat(bookForm("authors")){f => @inputText(f)}
        @repeat(bookForm("languages")){f => @inputText(f)}
        @repeat(bookForm("publishers")){f => @inputText(f)}
        @repeat(bookForm("published_dates")){f => @inputText(f)}
        @repeat(bookForm("tags")){f => @inputText(f)}
        @textarea(bookForm("summary"))
        @repeat(bookForm("parts")){f => @inputText(f)}
        <input type="submit" value="Go!">
    }

}