@**
* Generates HTML for "My Account" Box
*
*@

@(loginForm: Form[(String,String)])(implicit context:Context)

@import utils.navHelpers._
@import utils.MD5Util

@if(context.user == None){
    @helper.form(routes.Application.validate, 'class -> "navbar-form pull-right"){
        @helper.inputText(loginForm("id"), '_label -> "", 'class -> "span2", 'placeholder -> "Email")
        @helper.inputPassword(loginForm("password"), '_label -> "", 'class -> "span2", 'placeholder -> "password")
        <button type="submit" class="btn">Sign in</button>
    }
}else{

<div class="btn-toolbar pull-right">
    <div class="btn-group">
        <a class="btn" href="/home" rel="tooltip" data-original-title="Working space">
            @defining(MD5Util.md5Hex(context.user.map(u => u.email).getOrElse("ezoomwiki.com"))){icon =>
                <img src="https://www.gravatar.com/avatar/@icon?s=15&amp;d=identicon" >
            }
        </a>
        <a class="btn" href="/parameter" rel="tooltip" data-original-title="Configure your account">
            <i class="icon-wrench"></i>
        </a>
        <a class="btn" href="/logout" rel="tooltip" data-original-title="log out">
            <i class="icon-off"></i>
        </a>
    </div>
</div>

}

