@**
* Generates HTML for "My Account" Box
*
*@

@(loginForm: Form[(String,String)])(implicit context:Context)
@import utils.sha256._
@import utils.navHelpers._

@if(context.user == None){
    @helper.form(routes.Application.validate, 'class -> "navbar-form pull-right"){
        @helper.inputText(loginForm("id"), '_label -> "", 'class -> "span2", 'placeholder -> "Email")
        @helper.inputPassword(loginForm("password"), '_label -> "", 'class -> "span2", 'placeholder -> "password")
        <button type="submit" class="btn">Sign in</button>
    }
}else{

<div class="btn-toolbar pull-right">
    <div class="btn-group">
        <a class="btn" href="/home" rel="tooltip" data-original-title="Working space">
            @defining("waxzce@gmail.com".sha_256){email => 
            <img height="20" width="20" src="https://secure.gravatar.com/avatar/@email">}
        </a>
        <a class="btn" href="/parameters" rel="tooltip" data-original-title="Configure your account">
            <i class="icon-wrench"></i>
        </a>
        <a class="btn" href="/logout" rel="tooltip" data-original-title="log out">  
          <i class="icon-off"></i>
        </a>
    </div>
</div>


}

@**
<div id="raccount">
    <div class="titlebox"><P><strong>My account</strong></p></div>
    <p>Welcome @session.get("userName")</p>
    <div>
        <form href="#" method="GET">
            <button type="submit" class="parameter">parameter</button>
        </form>
        <form href="/logout" method="POST">
            <input type="submit" class="logout" value="log out">
        </form>
    </div>

</div>
**@