@**
* Generates HTML for "My Account" Box in the navigation bar
*
*@

@(loginForm: Form[Option[User]])(implicit context:Context, lang:Lang)

@import utils.ezbhelpers.navHelpers._
@import utils.MD5Util

@if(context.user == None){
    @helper.form(routes.Application.validate, 'class -> "navbar-form navbar-right"){
        <div class="form-group">
            @helper.inputText(loginForm("id"), '_label -> "", 'class -> "form-control", 'placeholder -> "Email")
        </div>
        <div class="form-group">
            @helper.inputPassword(loginForm("password"), '_label -> "", 'class -> "form-control", 'placeholder -> "password")
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
    }
}else{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@routes.Workspace.home"
               rel="tooltip"
               data-original-title='@Messages("topmenu.tooltip.workspace")'>
                @defining(MD5Util.md5Hex(context.user.map(u => u.email).getOrElse("ezoomwiki.com"))){icon =>
                <img src="https://www.gravatar.com/avatar/@icon?s=20&amp;d=identicon" >
                }
            </a>
        </li>
        <li>
            <a href="@routes.Workspace.parameter"
               data-original-title="@Messages("topmenu.tooltip.conf")">
                <span class="glyphicon glyphicon-wrench"> </span>
            </a>
        </li>
        <li>
            <a href="@routes.Application.logout"
               data-original-title="@Messages("topmenu.tooltip.logout")">
                <span class="glyphicon glyphicon-off"> </span>
            </a>
        </li>
    </ul>
}

