@(book:Book)(implicit context:Context)

@import helper._

@main("Book Page"){
    <h1>@book.bookTitle</h1></br>
    <h2>Author : @book.bookAuthors</h2></br>
    <h2>Publisher : @book.bookPublisher</h2></br>
    <h2>Published Date : @book.bookPublishedDate</h2></br>
    <h2>Summary: </h2>
    <p>
        @book.bookSummary
    </p>
    
     <h2>EzoomBook</h2>
    <div class="CSSTableCool" >
			<table>
				<tbody>
					<tr>
						<th>Title</th><th>Author</th><th>Nbr of level</th><th>Date of creation</th><th>Popularity</th>
					</tr>
					
				</tbody>
			</table>
		</div>
}