@(book:Book, ezoomBookForm:Form[Ezoombook], listezbooks:List[Ezoombook])(implicit context:Context)

@import utils.EzbHelpers._
@import helper._
@import ezbhelper._

@main("Book Page"){

<div class="row">
    <div class="col-md-3">
        <img src='@routes.EzoomBooks.bookCover(book.bookId.toString)' class='img-polaroid' width="100%"  >
    </div>
    <div class="col-md-9">
        <h1>@book.bookTitle</h1>
        <dl>
            <dt>@Messages("book.author.dt")</dt><dd>@book.bookAuthors</dd>
            <dt>@Messages("book.publisher.dt")</dt><dd>@book.bookPublishers</dd>
            <dt>@Messages("book.publisheddate.dt")</dt><dd>@book.bookPublishedDates</dd>
        </dl>
    </div>
</div>

<h2>@Messages("book.summary.h2") </h2>
<p>
    @book.bookSummary
</p>

<h2>@Messages("book.ezoombooks.h2")</h2>

@form(routes.EzoomBooks.saveEzoomBook(book.bookId.toString)){
    @hidden(ezoomBookForm("ezb_owner"))
    @hidden(ezoomBookForm("book_id"))
    @hidden(ezoomBookForm("ezb_id"))
    <input type="hidden" id="ezb_title" name="ezb_title" value="@book.bookTitle">
    <input type="submit" value='@Messages("book.createezb.button")'>
}

<table class="table table-striped">
    <tbody>
    <tr>
        <th>@Messages("book.ezoombooks.title.th")</th>
        <th>@Messages("book.ezoombooks.author.th")</th>
        <th>@Messages("book.ezoombooks.levels.th")</th>
        <th>@Messages("book.ezoombooks.popularity.th")</th>
        @if(!context.user.isEmpty){
            <th></th>
        }
    </tr>
    <tr>
        @for(g<-listezbooks){
        <!-- TODO Display user name instead of code -->
        <tr>
            <td>
                <a href='@routes.EzoomBooks.setReadingEzb(g.ezoombook_id.toString,book.bookParts(0).partId,"0")'>
                    @g.ezoombook_title
                </a>
            </td>
            <td>@g.ezoombook_owner</td>
            <td>@g.ezoombook_layers.size</td>
            <td>@for(i <- 1 to 5){<i class="glyphicon glyphicon-star"></i>}</td>
            <td>
            @if(!context.user.isEmpty){
                <div class="btn-group">
                @if(context.user.get.id.toString.equals(g.ezoombook_owner)){
                    <a href="/ezb/edit/@g.ezoombook_id" class="btn" title='@Messages("book.ezoombooks.edit.button")'>
                        <i class="glyphicon glyphicon-pencil"></i></a>
                }
                    <a href="/#" class="btn" title='@Messages("book.ezoombooks.favorite.button")'>
                        <span class="glyphicon glyphicon-heart"></span></a>
                    <a href="/#" class="btn" title='@Messages("book.ezoombooks.readlist.button")'>
                        <span class="glyphicon glyphicon-plus-sign"></span></a>
                </div>
            }
            </td>
         </tr>
        }
    </tbody>
</table>
}

