@(book:Book)(implicit context:Context)

@import helper._

@main("Book Page"){
<body>
  <div class="container">
</br></br></br>
    <h1>@book.bookTitle</h1>
    <h2>Summary: </h2>
    <p>
        @book.bookSummary
    </p>
    </br>
    </br>
    <table class="table table-striped">
				<tbody>
					<tr>
						<th>ezoombook</th><th>author</th><th>dates of creation</th><th>tags</th><th></th>
					</tr>
					
						
						<td></td><td></td><td></td><td></td><td><input type="submit" value="edit"></td>
						
					</tr>
				</tbody>
			</table>

    </body>
    </div>
    }
