@(contactForm: Form[(String,String)])(implicit session:Session, context:Context)
@import helper._
@main("Contact us"){


<h1>Contact</h1>



<p>The eZoomBook research team  is an inter-disciplinary team which includes researchers in the following areas:</p>
<a href="http://ezoombook.wordpress.com/people-involved/ecole-centrale-audencia-save/" >Humanities</a></br>
<a href="http://ezoombook.wordpress.com/people-involved/ecole-centrale-de-nantes-science/" >Science</a></br>
<a href="http://ezoombook.wordpress.com/people-involved/law-and-intellectual-property/" >Law</a>

</br></br>
<div>
            @form(routes.Application.contactadmin) {
                @inputText(contactForm("usermail"), '_label -> <p>enter your e-mail for the answer</p>)
                @textarea(contactForm("arequest"), args = 'rows -> 7, 'class->"span12", 'placeholder -> "Be sure that the answer to your question isn't in the FAQ", '_label -> <p>Message</p>)
                <input type="submit"  value="submit">
            }
        </div>
}
