@()(implicit session:Session, context:Context)
@import helper._
@main("Contact us"){
</br></br></br>
  <div class="container">
<h1>Contact</h1>



<p>The eZoomBook research team  is an inter-disciplinary team which includes researchers in the following areas:</p>
<a href="http://ezoombook.wordpress.com/people-involved/ecole-centrale-audencia-save/" >Humanities</a></br>
<a href="http://ezoombook.wordpress.com/people-involved/ecole-centrale-de-nantes-science/" >Science</a></br>
<a href="http://ezoombook.wordpress.com/people-involved/law-and-intellectual-property/" >Law</a>

</div>
}
