@(ezb:Ezoombook, ezlForm:Form[EzoomLayer], bookOpt:Option[Book])(implicit context:Context)

@import helper._
@** @import helper.twitterBootstrap._ **@
@import utils.EzbHelpers._
@import ezbhelper._

@scripts = {
<script type="text/javascript">//<![CDATA[
    function addPart(){
        var partsCount = $("#contribs_set > .part_field" ).length;
        var sumCount = $("#contribs_set > .summary_div" ).length;
        var contribTotal = partsCount+sumCount;

        var newPartField = $("#part_field_999").clone().attr("id", "part_field_"+(partsCount));

        newPartField.find(".part_title:first")
             .attr("id", "ezoomlayer_contribs_"+contribTotal+"__part_title")
             .attr("name", "ezoomlayer_contribs["+contribTotal+"].part_title");

        newPartField.find("#ezoomlayer_contribs_contrib_type:first")
            .attr("id", "ezoomlayer_contribs_"+contribTotal+"__contrib_type")
            .attr("name", "ezoomlayer_contribs["+contribTotal+"].contrib_type")
            .attr("value","contrib.Part");

        //Change buttons' id
        newPartField.find("#btnAddQuote_999").attr("id","btnAddQuote_"+contribTotal)
            .click(function(e){
                var divId = e.target.id.split("_")[1];
                addAtomicContrib(divId, "contrib.Quote");
            });
        newPartField.find("#btnAddSummary_999").attr("id","btnAddSummary_"+contribTotal)
            .click(function(e){
                var divId = e.target.id.split("_")[1];
                addAtomicContrib(divId, "contrib.Summary");
            });

        newPartField.removeClass("hide");

        $("#contribs_set").append(newPartField);
    }

    function addSummary(){
        var partsCount = $("#contribs_set > .part_field" ).length;
        var sumCount = $("#contribs_set > .summary_div" ).length;
        var contribTotal = partsCount+sumCount;

        var newSummaryDiv = $("#summary_div___999_").clone().attr("id", "summary_div_"+sumCount);

        newSummaryDiv.find("#ezoomlayer_contribs_contrib_type:first")
            .attr("id", "ezoomlayer_contribs_"+contribTotal+"__contrib_type")
            .attr("name", "ezoomlayer_contribs["+contribTotal+"].contrib_type")
            .attr("value", "contrib.Summary");

        newSummaryDiv.find("#ezoomlayer_contribs_contrib_content:first")
            .attr("id", "ezoomlayer_contribs_"+contribTotal+"__contrib_content")
            .attr("name", "ezoomlayer_contribs["+contribTotal+"].contrib_content");

        newSummaryDiv.find(".delete:first").click(function(){
            $(this).parents(".contrib_div:first").remove();
        });

        newSummaryDiv.removeClass("hide");
        newSummaryDiv.addClass("hl_contrib");

        $("#contribs_set").append(newSummaryDiv);
    }

    function addAtomicContrib(parentId, contribType){

        var parent = $("#part_field_"+parentId);

        var numContrs = parent.children(".quote_div").length +
                        parent.children(".summary_div").length;

        var contribDiv = contribType == "contrib.Quote" ?
                            $("#quote_div___999_").clone().attr("id","quote_div_"+parentId+"_"+numContrs+"_") :
                            $("#summary_div___999_").clone().attr("id","quote_div_"+parentId+"_"+numContrs+"_");

        contribDiv.find("#ezoomlayer_contribs_contrib_type:first")
            .attr("id", "ezoomlayer_contribs_"+parentId+"__part_contribs_"+numContrs+"__contrib_type")
            .attr("name", "ezoomlayer_contribs["+parentId+"].part_contribs["+numContrs+"].contrib_type")
            .attr("value", contribType);

        contribDiv.find("#ezoomlayer_contribs_contrib_content:first")
            .attr("id", "ezoomlayer_contribs_"+parentId+"__part_contribs_"+numContrs+"__contrib_content")
            .attr("name", "ezoomlayer_contribs["+parentId+"].part_contribs["+numContrs+"].contrib_content");

        contribDiv.find(".delete:first").click(function(){
            $(this).parents(".contrib_div:first").remove();
        });

        contribDiv.removeClass("hide");

        parent.append(contribDiv);
    }

    $(document).ready(function(){
        $('#btnAddezbSummary').click(function (e) {
            var sumSet = $("#summaries_set");
            var numSums = $(".ezb_summary").length - 1;

            var sumDiv = $("#ezb_summary_999").clone().attr("id", "ezb_summary_"+numSums);

            sumDiv.find(".ezb_summary")
                .attr("id","ezoomlayer_summaries_"+numSums+"_")
                .attr("name","ezoomlayer_summaries["+numSums+"]");

            sumDiv.find(".delete:first").click(function(){
                $(this).parents(".contrib_div:first").remove();
            });

            sumDiv.removeClass("hide");

            sumSet.append(sumDiv);
        });
        $('#btnAddPart').click(function () {
            addPart();
        });
        $('.btnAddQuote').click(function (e){
            var divId = e.target.id.split("_")[1];
            if(divId){
                addAtomicContrib(divId, "contrib.Quote");
            }
        });
        $('.btnAddPartSummary').click(function (e) {
            var divId = e.target.id.split("_")[1];
            if(divId){
                addAtomicContrib(divId, "contrib.Summary");
            }
        });
        $('#btnAddSummary').click(function (e){
            addSummary();
        });
        $(".del_text").hover(
            function(){
                $(this).css("opacity", "1");
            },
            function(){
                $(this).css("opacity", "0.2");
            }
        );
        $(".delete").click(function(){
            $(this).parents(".contrib_div:first").remove();
        });
        $("#ezoomlayer_locked_btn").click(function(){
            var lkdButton = $("#ezoomlayer_locked");
            //Toggle
            if (lkdButton.attr("value") == "true"){
                $("#ezoomlayer_locked").attr("value","false")
            }else{
                $("#ezoomlayer_locked").attr("value","true")
            }
        });
        $("#ezoomlayer_status_btn").click(function(){
            var lkdButton = $("#ezoomlayer_status");
            //Toggle
            if (lkdButton.attr("value") == "@Status.workInProgress"){
                $("#ezoomlayer_status").attr("value","@Status.published")
            }else{
                $("#ezoomlayer_status").attr("value","@Status.workInProgress")
            }
        });
        $(".part_title").change(function(){
            $(this).siblings(".part_id").attr("value", $(this).find("option[value='"+$(this).val()+"']").text());
        });
   });
//]]>
</script>
}

@displayEzbSummary(field:Field, hide:Boolean, divId:String) = {
    <div class="row-fluid contrib_div @if(hide){hide}" id="ezb_summary_@divId">
        <div class="span11 text_box">
            <a href="#" class="btn delete del_text"><i class="icon-trash"></i></a>
            @textarea(field, '_label -> "", 'class -> "ezb_summary contrib")
        </div>
    </div>
}

@displayPart(part:Field, hide:Boolean, divId:String) = {
<div class="part_field contrib_div hl_contrib @if(hide){hide}" id="part_field_@divId">
    <div class="row-fluid part_div">
        <div class="span6 title_box">
            @bookOpt.map{book =>
                @select(part("part_id"),
                    options= book.bookParts.foldLeft(Seq[(String,String)]()){
                        case (lst,BookPart(id,Some(title))) => lst :+ (id,title)
                        case (lst, _) => lst
                    },
                    '_label -> "",
                    'class -> "part_title")
            }
            @hidden(part("part_title"), 'class -> "part_id")
            @hidden(part("contrib_type"))
        </div>
        <div class="span1 btn-group">
            <button class="btn" data-toggle="dropdown" href="#" >New<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#" class="btnAddQuote" id="btnAddQuote_@divId">Quote</a></li>
                <li><a href="#" class="btnAddPartSummary" id="btnAddSummary_@divId">Summary</a></li>
            </ul>
            @bookOpt.map{book =>
                @part("part_id").value.map{partId =>
                    <a class="btn" href='@routes.EzoomBooks.readLayer(book.bookId.toString,partId)'>
                    Go to book...</a>
                }
            }.getOrElse{
                <a class="btn hide readBtn" href="#">Go to book...</a>
            }
            <a class="btn delete" data-toggle="button" href="#"><i class="icon-trash"></i></a>
        </div>
    </div>
    @for(i <- part("part_contribs").indexes;
        pc = part("part_contribs")("["+i+"]")){
        @pc("contrib_type").value.map{ct =>
            @displayAtomic(ct,pc,"part_", divId, i.toString, false)
        }.getOrElse{ <!-- Cannot display part content --> }
    }
</div>
}

@displayAtomic(ctype:String, c:Field, level:String, parent:String, divId:String, hide:Boolean) = {
    @defining(parent+"_"+divId+"_"){div_id =>
        @ctype match{
            case "contrib.Quote" => {
            <div class="row-fluid contrib_div quote_div @if(hide){hide}" id="quote_div_@div_id">
                <div class="span1">
                    <span class="badge badge-inverse" style="font-size:20px; float: right;">&ldquo;</span>
                </div>
                <div class="span10 text_box">
                    <a href="#" class="btn delete del_text"><i class="icon-trash"></i></a>
                    @textarea(c("contrib_content"), '_label -> "", 'class -> "quote contrib")
                    @hidden(c("contrib_type"))
                    @hidden(c("range"))
                </div>
            </div>
            }
            case "contrib.Summary" => {
                <div class='row-fluid contrib_div summary_div @if(level=="contrib_"){hl_contrib} @if(hide){hide}' id="summary_div_@div_id">
                    <div class="span11 text_box">
                        @hidden(c("contrib_type"))
                        <a href="#" class="btn delete del_text"><i class="icon-trash"></i></a>
                        @textarea(c("contrib_content"), '_label -> "", 'class -> (level+"summary contrib")  )
                    </div>
                </div>
            }
            case _ => {
                <p>Could not display contribution. Unknown type @ctype</p>
            }
        }
    }
}

@levelMap(body: (Map[String,String]) => Html ) = {
    @defining(Map("1"->"Higly Detailed", "2"->"Fairly Detailed", "3"->"Fairly Abridged", "4"->"Highly Abridged")){lmap =>
        @body(lmap)
    }
}

@displayEzbInfo = {
    <dl>
        <dt>Title:</dt><dd>@ezb.ezoombook_title</dd>
        <dt>Is Public:</dt><dd>@ezb.ezoombook_public</dd>
        <dt>Status:</dt><dd>@ezb.ezoombook_status</dd>
        <dt>Layers</dt>
        <ul>
            @ezb.ezoombook_layers.map{layer =>
                @levelMap{lmap =>
                    <li><a href="/ezlayer/edit/@ezb.ezoombook_id/@layer._2/false">@lmap.getOrElse(layer._1, "undef")</a></li>
                }
            }
        </ul>
        <dt><a href="/ezb/edit/@ezb.ezoombook_id">Add a layer...</a></dt><dd></dd>
    </dl>
}

@main("Ezoombook Edition", scripts){
<style>
.field_set{
    border:2px solid blue;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
}
.text_box
{
  position: relative;
  padding-left: 5px;
}
textarea.contrib
{
  width: 100%;
  resize: none;
}
.title_box
{
  padding-left: 5px;
}
.part_title
{
  width: 100%;
}
.part_field
{

}
.delete {
}
.del_text{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  line-height: 20px;
  float: right;
  opacity: 0.2;
}
label{
  //float: left;
  padding-left: 5px;
  padding-right: 5px;
}
.padded_field{
    padding-left: 5px;
    padding-top: 16px;
    padding-bottom: 10px;
}
.hl_contrib{
    padding-top: 10px;
    border: 0;
    //border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}
</style>

<!-- Invisible part div (used as template) -->
@displayPart(ezlForm("ezoomlayer_contribs"), true, "999")

<!-- Another template for quotes -->
@displayAtomic("contrib.Quote", ezlForm("ezoomlayer_contribs"), "part_", "_", "999", true)

<!-- And another template for summaries -->
@displayAtomic("contrib.Summary", ezlForm("ezoomlayer_contribs"), "part_", "_", "999", true)

<!-- A simple textarea for EZB Summaries -->
@displayEzbSummary(ezlForm("ezoomlayer_summaries"), true, "999")

<!-- An alert modal to desplay when deleting an EzoomLayer -->
<div id="deleteAlert" class="modal hide fade" tabindex="-1" role="dialog"
     aria-labelledby="deleteAlertHeader" aria-hidden="true">
    @context.activeLayer.map{ezl =>
        @form(routes.EzoomBooks.ezoomLayerDelete(ezb.ezoombook_id.toString,ezl.ezoomlayer_level)){
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="deleteAlertHeader">EzoomLayer Elimination</h3>
        </div>
        <div class="modal-body">
            <p>You are about to delete an EzoomLayer with all your contributions.
            Are you sure you want to continue?</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <input type="submit" class="btn bnt-primary"
                    value="Delete Layer">
        </div>
        }
    }.getOrElse{
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="deleteAlertHeader">No Active eZoomLayer Found</h3>
        </div>
    }
</div>

    <div class="row">
        <div class="span12">
            <h1>eZoomBook Edition</h1>
        </div>
    </div>
    <div class="row">
        <div class="span3">
            <div>
                <h3 id="ezoombook_title">eZoomBook Info</h3>
                @displayEzbInfo

                <p>Load a layer from a file: </p>
                @form(routes.EzoomBooks.loadEzoomLayer(ezb.ezoombook_id.toString), 'enctype -> "multipart/form-data"){
                    <input type="file" name="ezlfile"></br>
                    <input type="submit">
                }
            </div>
            @bookOpt.map{book =>
            <div>
                <h3 id="book_info_header">Book Info</h3>
                <dl>
                    <dt>Title:</dt><dd>@book.bookTitle</dd>
                    <dt>Author(s):</dt><dd>@book.bookAuthors.mkString(",")</dd>
                    @ezlForm.value.map{ezl =>
                        <dt><a href="/bookread/@book.bookId/0">Navigate this book... </a> </dt><dd></dd>
                    }.getOrElse{
                        <dt><a href="/bookread/@book.bookId/0">Navigate this book... </a> </dt><dd></dd>
                    }
                </dl>
            </div>
            }.getOrElse{<div>Please specify a book!</div>}
        </div>
        <div class="span9">
            @if(ezlForm.hasErrors){
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert">x</a>
                <p>It seems there are some errors in your request...</p>
                <ul>
                @ezlForm.errors.map{err =>
                    <li>@err.key : @err.message</li>
                }
                </ul>
            </div>
            }
            @form(routes.EzoomBooks.saveEzoomlayer(ezb.ezoombook_id.toString), 'id -> "ezl_form"){
            <fieldset class="field_set">
                <legend>eZoomLayer</legend>
                @hidden(ezlForm("ezoomlayer_id"))
                @hidden(ezlForm("ezoombook_id"))
                @hidden(ezlForm("ezoomlayer_owner"))
                @hidden(ezlForm("ezoomlayer_locked"))
                @hidden(ezlForm("ezoomlayer_status"))
                <div class="row-fluid">
                    <div class="span6 btn-group" data-toggle="buttons-checkbox">
                        <button type="button" id="ezoomlayer_locked_btn" class="btn btn-primary">Lock this Layer</button>
                        <button type="button" id="ezoomlayer_status_btn" class="btn btn-primary">Mark as Published</button>
                    </div>
                    <div class="span6 btn-group">
                        <input class="btn" type="submit" value="Save eZoomLayer">
                        @context.activeLayer.map{ezl =>
                        <button class="btn" href="#deleteAlert" role="button" data-toggle="modal">Delete eZoomLayer</button>
                        }.getOrElse{}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span9 padded_field">
                    @levelMap{lmap =>
                        @select(ezlForm("ezoomlayer_level"), options = for(i <- 1 to 4) yield(i.toString -> lmap(i.toString)),
                        '_label -> "Choose the detail level of your layer:")
                    }
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="btn-group span4 offset3">
                        <input type="button" class="btn" id="btnAddezbSummary" value="+ Book Summary">
                        <input type="button" class="btn" id="btnAddSummary" value="+ Summary">
                        <input type="button" class="btn" id="btnAddPart" value="+ Part">
                    </div>
                </div>
            </fieldset>
            <fieldset id="summaries_set" class="field_set">
                <legend>Book Summaries</legend>
                @repeat(ezlForm("ezoomlayer_summaries"), min = 0){f =>
                    @displayEzbSummary(f, false, "@f.id")
                }
            </fieldset>
            <fieldset id="contribs_set" class="field_set">
                <legend>Contributions</legend>
                @for(i <- ezlForm("ezoomlayer_contribs").indexes;
                     f = ezlForm("ezoomlayer_contribs")("["+ i +"]") ){
                    @f("contrib_type").value.map{cf =>
                        @cf match{
                            case "contrib.Part" => { @displayPart(f, false, i.toString) }
                            case _ => { @displayAtomic(cf, f, "contrib_", "_", i.toString, false) }
                        }
                    }.getOrElse{ }
                }
            </fieldset>

            }
        </div>
    </div>
}



