@()(implicit session:Session, context:Context)

@import helper._

@main("FAQ"){
</br></br></br><body>
  <div class="container">
<h1>FAQ</h1>


<p><br />
</p>

<p><b>General</b></p>

<p>What is eZoomBook?</p>

<p>Who can use eZoomBook?</p>

<p>Why use eZoomBook?</p>

<p>What can I do on the eZoomBook platform?</p>

<p>How is eZoomBook going to improve my reading experience?</p>

<p><b>About the platform</b></p>

<p>When can I use the eZoomBook platform?</p>

<p>Where can I use the eZoomBook platform?</p>

<p>What hardware and software do I need in order to use eZoomBook? Epub reader</p>

<p>What is the format used by the platform for eZoomBooks? Epub</p>

<p>What browser can I use? </p>

<p>What browser is optimized / the best suited to use the eZoomBook platform?</p>

<p>Can I download an eZoomBook?</p>

<p>How do I upload files from my computer to my Private Space in the platform?</p>

<p>How long will my eZoomLayers remain on the eZoomBook platform?</p>

<p>How long will my eZoomBooks remain on the eZoomBook platform?</p>

<p>Why is my eZoomBook hit counter stuck?</p>

<p>I have received a mail to accept the updated Terms and Conditions, what does it mean?</p>

<p><b>Subscriptions</b></p>

<p>How can I become a member of the platform?</p>

<p>How can I subscribe to the platform?</p>

<p>Do I need to log into my account before I can use the platform?</p>

<p>Do I have to pay? </p>

<p>Is there a trial period to test the platform? </p>

<p>How long will my subscription be active?</p>

<p>How do I renew my subscription?</p>

<p>How can I unsubscribe?</p>

<p><b>Profile</b></p>

<p>Do I have to create a profile to use eZoomBook?</p>

<p>Can I create a profile? (I am minor)</p>

<p>What is my profile?</p>

<p>How can I choose who can see my profile?</p>

<p>How can I choose what others can see on my profile?</p>

<p>My profile is empty right now; how can I fill it up with everything I've created on eZoomBook?</p>

<p>Why cannot I see who created an eZoomBook?</p>

<p><b>User Information</b></p>

<p>I forgot my password. What can I do?</p>

<p>I forgot my username. What can I do?</p>

<p>I want to change my password. What can I do?</p>

<p>How do I change my name and/or e-mail address?</p>

<p><b>Production of eZoomBook and eZoomLayers</b></p>

<p>How do I create an eZoomBook?</p>

<p>How do I create eZoomLayers?</p>

<p>How do I edit my eZoomBook?</p>

<p>How do I edit my eZoomLayers?</p>

<p>How do I remove an eZoomLayers?</p>

<p>How do I remove an eZoomBook?</p>

<p>How do I delete an eZoomLayers?</p>

<p>How do I delete an eZoomBook?</p>

<p>How do I collaborate on eZoomLayers with other members of the platform?</p>

<p>Can I save my eZoomLayers I want to work on or complete later?</p>

<p>How do I add an image to my eZoomLayers?</p>

<p>How do I add audio files to my eZoomLayers?</p>

<p>How do I add video files to my eZoomLayers?</p>

<p>How do I add games to my eZoomLayers?</p>

<p><b>Private Space</b></p>

<p>How do I create a Private Space for the members of my group?</p>

<p>I am alone; do I have to create a private space?</p>

<p>How can I know the comments and advices of the members?</p>

<p>Why is my Private Space blank?</p>

<p><b>Libraries </b></p>

<p>What's the difference between my Private Space and the Private Library?</p>

<p>What's the difference between my Private Library and the Wiki Library?</p>

<p>How do I get my eZoomLayer to appear on the Private Library?</p>

<p>How do I get my eZoomBook to appear on the Wiki Library?</p>

<p>Can other people see my eZoomBook if it is on the Private Space?</p>

<p>Can other people see my eZoomBook if it is on the Private Library?</p>

<p><b>About building eZoomLayers </b></p>

<p>How to create quotes?</p>

<p>How to write summaries?</p>

<p>What document format should I useto upload the text?</p>

<p>How do I know if I can submit my layer, if its quality is good enough?</p>

<p>How can I help my partner improve his/her eZoomLayer? </p>
<p><b>Technical Problems</b></p>

<p>Why can't I log in?</p>

<p>I just made changes to my eZoomLayers. Why aren't they showing up?</p>

<p>Why is an eZoomLayer I just created not showing up on the Private Space?</p>

<p>Why are the eZoomLayers not appearing?</p>

<p>Why are the eZoomBook not appearing?</p>

<p>The eZoomLayers don't appear anymore. How can I get them to work again?</p>

<p>The eZoomBook don't appear anymore. What happened?</p>

<p>What are the issues relating to network firewalls?</p>

<p>When I type my username into the login page, my password automatically appears. How can I stop this?</p>

<p>How much bandwidth do I need in order to use eZoomBook? </p>

<p><b>Languages and Math Symbols</b></p>

<p>How do I create accented characters?</p>

<p>How do I create math symbols?</p>

<p>How do I create activities using Asian and non-Western-European characters?</p>

<p>Why can't I view Asian and non-Western-European characters in some of my activities?</p>

<p>How does support for Chinese Pinyin work?</p>

<p><b>Privacy</b></p>

<p>What is eZoomBook's privacy policy?</p>

<p>I use eZoomBook from a shared computer. Is there any way to prevent other people from accessing my account?</p>

<p>How to anonymize the eZoombook publications? </p>

<p><b>Other Questions</b></p>

<p>Can I link to eZoomBook from my Web page?</p>

<p>My question isn't in this list. How do I get help?</p>

</body>
</div>
}

