    @(groupId:String, groupName:String, members:List[(User,AppDB.dal.Roles.Value)],
    projects:List[EzbProject],
    memberForm:Form[(String,String)], projectForm:Form[EzbProject])(implicit session:Session, context:Context)

@import helper._
@import ezbhelper._
@import helper.twitterBootstrap._

@scripts = {
<script type="text/javascript"> //<![CDATA[
    var users = ["Bob","Ann","Joe","Gabriel","Daniel","Sofia","Camila"];
    $('.typeahead').typeahead({source: users});

function overlay() {
	el = document.getElementById("overlay");
	el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
}
//]]>
</script>
}

@main("Group "+groupName, scripts){

<!-- Add Group Member Modal Window -->
<div class="modal hide" id="infos">
  <div class="modal-header"> <a class="close" data-dismiss="modal">x</a>
    <h3>Add Member</h3>
  </div>
  <div class="modal-body">
    <p> <h2>Add Member:</h2>
     @form(routes.Community.newGroupMember(groupId)){
        @inputText(memberForm("member_email"), Symbol("data-provide") -> "typehead", Symbol("data-items") -> 5, Symbol("data-source") -> "?")
        @select(memberForm("role"), UserDO.getGroupMemberRole)
        <input type="submit" value="Add">
     }
  </div>
  <div class="modal-footer"> <a class="btn btn-info" data-dismiss="modal">Close</a> </div>
</div><!--/ .modal -->

<div class="row-fluid">
    <div class="span12">
        <h1>@groupName Group</h1>
        <a class="btn btn-primary" data-toggle="modal" href="#infos" >Add a member</a>
        <a class="btn btn-primary"  href="/groupadmin/@groupId" >Administrate</a>
    </div>
</div>

<div class="row-fluid">
    <div class="span3">
        <h2> Projects </h2>
        <p><a>Create a project</a></p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
            @projects.map{project =>
            <tr>
                <td><a href="/project/admin/@project.projectId">@project.projectName</a></td>
            </tr>
            }
            </tbody>
        </table>

@** <!--
        <h2> New Project</h2>
        @form(routes.Collaboration.saveProject){
            @hidden(projectForm("project_id"))
            @hidden(projectForm("project_owner"))
            @hidden(projectForm("project_creation"))
            @hidden(projectForm("group_id"))
            <h4>@inputText(projectForm("project_name"),'_label->"Name of the project")</h4>
            @inputText(projectForm("ezoombook_id"))
            <input type="submit" value="Create a project">
        }
--> **@
    </div>
    <div class="span6">
        <h2>Message Board</h2>
        @defining(groupId.substring(0,8)){shortId =>
        <!-- Shoutbox Widget -->
        <iframe WIDTH="100%" HEIGHT="810" title="Shoutbox" src="http://shoutbox.widget.me/window.html?uid=@shortId" frameborder="0" scrolling="auto">
        </iframe>
        <script src="http://shoutbox.widget.me/v1.js" type="text/javascript"></script>
        <!-- End -->
        }
    </div>
    <div class="span3">
        <h2>Group Members</h2>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th><th>Status</th><th></th>
            </tr>
            </thead>
            <tbody>
            @members.map{member =>
            <tr>
                <td>@member._1.name</td>
                <td>@member._2</td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>

}