@(listbook:List[Book])(implicit session:Session, context:Context, lang: Lang)

@import ezbhelpers._

@main("Homeland"){

<style>
#search{
width: 75%;
}
#searchbox
{
width: 90%;	
}


.logo{
  position: absolute;
   top: 100px;
  right: 25%;
}


.rightpannel{
		
float:right;
width:25%;
}

.midlepannel{

margin:0 auto;

width:50%;
}

.leftpannel{
 position: absolute;
   top: 200px;
  right: 74%;
  left:2%
}

.container
    {
    cursor:url(@routes.Assets.at("images/torch.jpeg")), pointer;
    }

</style>

<h1 hidden="true">eZoomBook</h1>
<div class="row">
    <p>
        <img border="0" src=@routes.Assets.at("/images/ezoombook2.png") width="50%" alt="eZoomBook">
    </p>
    <p>
        @Messages("ezoombook.presentation")
    </p>
   <a href="/tutorial" class="btn btn-primary btn-large">@Messages("index.learnmore.btn") »</a>&nbsp;&nbsp;<a href="/login" class="btn btn-primary btn-large">@Messages("index.createaccount.btn")</a>&nbsp;&nbsp;<a href="forum" class="btn btn-primary btn-large">@Messages("index.forum.btn")</a>
</div>
<hr class="soften">
<div class="row">
    <div class="col-md-6">
        <h2>@Messages("index.topbooks.h2")</h2>
        <table class="table table-striped">
            <thead>
                <th>@Messages("index.topbooks.title.th")</th><th></th>
            </thead>
            <tbody>
            @for(abook<-listbook){
                <tr>
                    <td><a href="/books/@abook.bookId">@abook.bookTitle</a></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h2>@Messages("index.findbook.h2")</h2>
        <form id="searchbox" action="">
            <input id="search" type="text" placeholder='@Messages("index.findbook.placeholder")'>
            <input id="submit" type="submit" value='@Messages("index.findbook.search.button")' style="width:15%">
        </form>
        <div>
            <a href="/asearch" class="btn">@Messages("index.findbook.advancedsearch.button")</a>
        </div>
    </div>
</div>

}
