@(title: String, scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>

<html>
<style>

li.e
{
float:left;
}
a.e
{
float:right;
background-color:#696969;
}
p.two 
{
border-style:solid;
border-width:medium;
}
</style>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <div class="container">
        
        </div>
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/underscore-min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/utils.js")" type="text/javascript"></script>
        
         
	
         <header>
			<p>
			
			<p>
		</header>
		<section id="article34" class="menu cool">
		<fieldset><dl>
			<li class=e><a href="/profile" class="bulle">Home
				<span><p> Reache the main menue </p></span>
			</a></li>
			
			<li class=e><a href="/home" class="bulle">Workspace
				<span><p> Your wall </p></span>
			</a></li>
		
			<li class=e><a href="/readbook" class="bulle">Books
				<span><p> Read a book </p></span>
			</a></li>
		
			<li class=e><a href="/login" class="bulle">Login
				<span><p> Go to your account </p></span>
			</a></li>
		
			<li class=e><a href="/tutorial" class="bulle">Tutorial
				<span><p> Learn to use the plateform </p></span>
			</a></li>
		
			<li class=e><a href="#" class="bulle">FAQ
				<span><p> Usual quesions of users</p></span>
			</a></li>
		
			
		
			<li class=e><a href="#" class="bulle">Contact
				<span><p> Be social</p></span>
			</a></li>
		</dl>
		
		<dl>
			<li><a href="https://twitter.com" class=e >Twitter</a></li>
			
			<li ><a href="https://www.facebook.com" class=e >Facebook</a></li>
		</dl>
	
		</section>
		</fieldset>
		
		</br>
		</br>
		</br>
	
	 @scripts
	@content
	 </body>
	 
	
</html>
