@()(implicit session:Session, context:Context)

@import helper._
@import utils.MD5Util

@main("Parameter"){
<style>


.rightpannel{
  position: absolute;
  top:120px;
   right:2%;
  left: 51%;
}

.leftpannel{
  position: absolute;
  top:100px;
   left:5%;
  right: 51%;
}
</style>

<body>
  <div class="container">
  </br></br></br><h1>Parameter</h1>
  
  
  
    <div class="leftpannel">
<fieldset>
</br>
<h4>Change language</h4>

			<div class="btn-group"> <a class="btn btn btn-info dropdown-toggle" data-toggle="dropdown" href="#" ><i class="icon-flag"></i> <span class="caret"></span> </a>
  <ul class="dropdown-menu">
    <li><a href="#"> English</a></li>
    <li><a href="#"> French</a></li>
    <li><a href="#"> Spanish</a></li>
      <li><a href="#"> Deutsch</a></li>
  </ul>
</div>
</br>
</br>
</br>
</br>
<a><h5>I don't want to receive newsletter anymore.</h5></a>
		</br></br></br>
         @defining(MD5Util.md5Hex(context.user.map(u => u.email).getOrElse("ezoomwiki.com"))){icon =>
            <img src="https://www.gravatar.com/avatar/@icon?s=15&amp;d=identicon" >
         }&nbsp;&nbsp;&nbsp;<a href="http://en.gravatar.com/emails/">Change your avatar<a>
   </fieldset>
    </div>
  
  <div class="rightpannel">
<fieldset>
<h4>Change Personnal information</h4>
</br>



<div id="example" class="modal hide fade in" style="display: none; ">
<div class="modal-header">
<a class="close" data-dismiss="modal">X</a>
<h3>Change your password</h3>
</div>
<div class="modal-body">
<input type="text" placeholder="email adress">
<p>You will be send an email to change you password</p>
</div>
<div class="modal-footer">

<a href="#" class="btn" data-dismiss="modal">Close</a>
</div>
</div>
<p><a data-toggle="modal" href="#example" class="btn btn-primary btn-large" style="height:20px">Change your password</a></p>




</br>

<div class="modal hide" id="infos">
  <div class="modal-header"> <a class="close" data-dismiss="modal">x</a>
    <h3>Strange choice</h3>
  </div>
  <div class="modal-body">
 
     
      

    <p> <h2>Sir, are you sure that arghh nooo.....&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp;&nbspfatal error</h2>
     
   
     
   
  </div>
  <div class="modal-footer"> <a class="btn btn-info" data-dismiss="modal">Fermer</a> </div>
</div>
<a class="btn btn-primary" data-toggle="modal" href="#infos" >Delete my account</a>

   </fieldset> 
    </div>
  
  
  </div>
  </body>
  
  }
