 @()(implicit session:Session, context:Context)

@import helper._

@import helper._
@import utils.EzbHelpers._
@import ezbhelper._



@scripts = {
<script type="text/javascript">//<![CDATA[
    $(document).ready(function(){
      
         $('#btnAddezbsection').click(function () {
         createField("projectsection", "textarea", "project_section", "", "section_set")
        });
        $('#btnAddezbsummary').click(function () {
         createField("projectsummary", "textarea", "project_summary", "", "section_set")
        });
    });
//]]>

function overlay() {
	el = document.getElementById("overlay");
	el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
}
</script>
}
@main("Project", scripts){
<style>
.projectsection{
width:100%;
height:130px;
 resize: none; 

}


.rightpannel{
  position: absolute;
   top: 130px;
  left: 75%;
  right: 0;
}

.midlepannel{
  position: absolute;
   top: 130px;
  right: 27%;
  left: 26%;
  
}

.leftpannel{
  position: absolute;
   top: 130px;
  right: 75%;
  left: 2%;
}
</style>
<body>
  <div class="container">
</br>
</br></br></br>
<div class="modal hide" id="infos">
  <div class="modal-header"> <a class="close" data-dismiss="modal">x</a>
    <h3>Add Member</h3>
  </div>
  <div class="modal-body">
    <p> 
     
     @** @form(routes.Community.newGroupMember(groupId)){
         @inputText(memberForm("member id"))
         @select(memberForm("role"), UserDO.getGroupMemberRole)  **@
         
         <input type="submit" value="Add">
    
  </div>
  <div class="modal-footer"> <a class="btn btn-info" data-dismiss="modal">Fermer</a> </div>
</div>
<a class="btn btn-primary" data-toggle="modal" href="#infos" >Add a member</a>

</br></br></br></br></br></br></br>
<div class="leftpannel">
<fieldset>
<legend><h3>Members</h3></legend>
    <div>
			<table class="table table-striped">
				<tbody>
					<tr>
						<th>Name</th><th>Status</th><th></th>
					</tr>
					
				</tbody>
			</table>
		</div>
		</fieldset>
</div>


<div class="rightpannel">

    <fieldset>
  <!-- Start HTML Code --><iframe WIDTH="100%" HEIGHT="690" title="Shoutbox" src="http://shoutbox.widget.me/window.html?uid=" frameborder="0" scrolling="auto"></iframe><script src="http://shoutbox.widget.me/v1.js" type="text/javascript"></script><br><!-- End --> 
  
    </fieldset>
</div>
<div class="midlepannel">
   <fieldset id="section_set">
    </br><input type="button" id="btnAddezbsection" value="add section"> 
    <input type="button" id="btnAddezbsummary" value="add summary"><input type="button" value="validate"></br>
    <select>
  <option>Section 1</option>
  <option>Section 2</option>
  <option>Section 3</option>
  <option>Section 4</option>
  <option>Section 5</option>
</select></br> 
    </fieldset>
</div>
 </br>

     </div></body>
     
}
