@()(implicit session:Session)
@main("Homeland"){

<style>

.raccount{

float:right;
}

.rightpannel{
		
float:right;
width:25%;
}

.midlepannel{

margin:0 auto;

width:50%;
}

.leftpannel{
clear:both;
float:left;
width:25%;
}

.3block{
	
}
</style>
<section id="article34" class="menu cool">

   
    </br></br></br>
 <div class="raccount">
    <fieldset>
   <legend><P><strong>My account</strong></p></legend>
   <p>Welcome @session.get("userName")</p>
      <form href="#" method="GET">
   <button type="submit">parameter</button></td>
 
   <button type="submit">log out</button></td>
   <img src="smiley.gif" alt="Smiley face" width="42" height="42">
   </form>
   </fieldset>
</div>
</br>
    </br></br>
    </br></br>
    </br></br>
    <div class="3block">
<div class="leftpannel">
    <fieldset>
    </br>
    
    </fieldset>
</div>

<div class="rightpannel">
    <fieldset>
    </br>
    </br> </br>
    </br>
    </br>
    </br> </br>
    </br>
    </br> </br>
   
   
     </br> </br>
    </br>
    </br>
    </br>
    </br>
    <p>First time ?</p>
     <p>Check our tutorial :</p>
     
   <p><a href="/tutorial"><button type="submit">Start here !</button></a></p>
     </br>
    </br>
    </br> </br> </br>
    </br>
    </br> </br> </br>
    </br>
   
    </br> </br>
    </br>
   
    </br>
    </br>
    </br>
    </fieldset>
</div>
<div class="midlepannel">
    <fieldset>
    </br>
    </br>
    </fieldset>
</div>



</div>
</section>
}
