@()(implicit session:Session)


@main("tutorial"){
<style>

.raccount{

float:right;
}

.tuto{
clear:both;	
}
</style>
<h1>Tutorial</h1>
<div class="raccount">
    <fieldset>
   <legend><P><strong>My account</strong></p></legend>
   <p>Welcome @session.get("userName")</p>
      <form href="#" method="GET">
   <button type="submit">parameter</button></td>
 
   <button type="submit">log out</button></td>
   <img src="smiley.gif" alt="Smiley face" width="42" height="42">
   </form>
   </fieldset>
</div>





<center class="tuto"><iframe frameborder="0" width="550" height="400" src="http://wpcomwidgets.com?src=http%3A%2F%2Fprezi.com%2Fbin%2Fpreziloader.swf&amp;type=application%2Fx-shockwave-flash&amp;allowfullscreen=true&amp;allowscriptaccess=always&amp;width=550&amp;height=400&amp;bgcolor=%23ffffff&amp;flashvars=prezi_id%3Dnqndydkqkkmm%26lock_to_path%3D0%26color%3Dffffff%26autoplay%3Dno%26autohide_ctrls%3D0&amp;_tag=gigya&amp;_hash=8338ab7e157bac92c03adc21fbc2c19d" id="wpcom-iframe-8338ab7e157bac92c03adc21fbc2c19d" ></iframe></center>
}
