fieldset{
    border:2px solid blue;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    padding: 5px;
}
.hl_contrib{
    padding-top: 10px;
    border: 0;
    border-bottom: 1px solid #EEE;
}
.text_box
{
  position: relative;
}

.text_box.summary_box
{
  padding-left: 50px;
}

textarea.contrib
{
  width: 100%;
  resize: none;
}
.deletecontrib{
    float: right;
}
.delete-icon{
    position: absolute;
    margin-left: 0;
    height: 0;
    vertical-align: super;
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 0 dotted;
    opacity: 0.2;
    cursor: pointer;
}

.move-up{
    cursor: pointer;
}

.drag-handle{
    cursor: move;
}

.drag-handle.right{
    float: right;
}

.contrib-row.over{
    border: 2px dashed #000;
}