@(users:List[User], groups:Boolean, books:Boolean)

@import helper._

@main("Appliction Administration"){
    @if(users.isEmpty){
	<h1>Create some users</h1>

        @form(routes.AdminApp.createUsers){
            <input type="submit" value="Go!">
        }
    }else{
        <h1>Your Users:</h1>
        <u1>
            @users.map { u =>
               <li>@u.id : @u.name</li>
            }
	</u1>
    }

    @if(groups){	       
	<h1>Create some groups</h1>
        @form(routes.AdminApp.createGroups){
            <input type="submit" value="Go!">
        }
    }

    @if(books){
	<h1>Add some books</h1>
        @form(routes.AdminApp.createBooks){
            <input type="submit" value="Go!">
        }
    }
}