@(users:List[User], groups:Boolean, books:Boolean)(implicit context:Context)

@import ezbhelpers._

@main("Appliction Administration"){
    @if(users.isEmpty){
	<h1>@Messages("admin.createusers.h1")</h1>

        @helper.form(routes.AdminApp.createUsers){
            <input type="submit" value='@Messages("admin.createusers.submit")'>
        }
    }else{
        <h1>@Messages("admin.displayusers.h1")</h1>
        <u1>
            @users.map { u =>
               <li>@u.id : @u.name</li>
            }
	</u1>
    }

    @if(groups){	       
	<h1>@Messages("admin.creategroups.h1")</h1>
        @helper.form(routes.AdminApp.createGroups){
            <input type="submit" value='@Messages("admin.creategroups.submit")'>
        }
    }

    @if(books){
	<h1>@Messages("admin.addbooks.h1")</h1>
        @helper.form(routes.AdminApp.createBooks){
            <input type="submit" value='@Messages("admin.addbooks.submit")'>
        }
    }
}