@(listbook:List[Book])(implicit session:Session, context:Context)
@import ezbhelpers._
@main("advanced search"){
<style>
	

.text{
  position: absolute;
   top: 300px;
  left: 3%;
}
.author{
  position: absolute;
   top: 380px;
  left: 3%;
}
.category{
  position: absolute;
   top: 460px;
  left: 3%;
}
.year{
  position: absolute;
   top: 300px;
  right: 3%;
}
.type{
  position: absolute;
   top: 380px;
  right: 3%;
}
.abutton{
  position: absolute;
   top: 480px;
  right: 12%;
}
</style>
 
</br>





    </fieldset>
<h1>@Messages("asearch.h1")Advanced search</h1>
 </br> </br>
<fieldset>
    <center><form id="searchbox" action="" style="width:50%">
    <input id="search" type="text" placeholder='@Messages("asearch.search.input")' style="width:75%">
    <input id="submit" type="submit" value='@Messages("asearch.search.submit")' style="width:15%">
   
</form></center>
<fieldset>
<form id="searchbox" action="" class="author">
 <form id="searchbox" action="" class="author">
    <input id="search" type="text" placeholder='@Messages("asearch.search.author.input")'>
    <input id="submit" type="submit" value='@Messages("asearch.search.author.submit")'>
   
</form>
 <form id="searchbox" action="" class="category">
    <input id="search" type="text" placeholder='@Messages("asearch.search.category.input")'>
    <input id="submit" type="submit" value='@Messages("asearch.search.category.submit")'>
   
</form>
 <form id="searchbox" action="" class="year">
    <input id="search" type="text" placeholder='@Messages("asearch.search.year.input")'>
    <input id="submit" type="submit" value='@Messages("asearch.search.year.submit")'>
   
</form>

 <form id="searchbox" action="" class="type">
    <input id="search" type="text" placeholder='@Messages("asearch.search.type.input")'>
    <input id="submit" type="submit" value='@Messages("asearch.search.type.submit")'>
   
</form> 
 <form id="searchbox" action="" class="text">
    <input id="search" type="text" placeholder='@Messages("asearch.search.text.input")'>
    <input id="submit" type="submit" value='@Messages("asearch.search.text.submit")'>
   
</form>
<button type="submit" class="abutton"  style="width:100px ; height: 35px">@Messages("asearch.search.button")</button>
</form>

</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>

			<table class="table table-striped">
				<tbody>
					<tr>
						<th>@Messages("asearch.results.title.th")</th><th>@Messages("asearch.results.author.th")</th><th>@Messages("asearch.results.year.th")</th><th>@Messages("asearch.results.tag.th")</th><th>@Messages("asearch.results.rating.th")</th><th></th>
					</tr>
					@for(abook<-listbook){
					<tr>
						<td>@abook.bookTitle</td><td>@abook.bookAuthors</td><td>@abook.bookPublishedDates</td><td>@abook.bookTags</td><td></td>
						
						<td></td>
						
						<input type="submit" value='@Messages("asearch.results.button")'></td>
					}	
					</tr>
				</tbody>
			</table>
	
			
			</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
</fieldset>

}
