@(bookForm:Form[Book])(implicit session:Session, context:Context)

@import helper._
@import ezbhelpers.hidden
@import utils.ezbhelpers.bookFieldHelper._

@scripts = {
<script type="text/javascript">//<![CDATA[
$(document).ready(function(){
    $('#addauthor').click(function () {
        cloner('authors');
    });
    $('#btnAddLang').click(function () {
        cloner('languages');
    });
    $('#btnAddPublshr').click(function () {
        cloner('publishers');
    });
    $('#btnAddPubDate').click(function () {
        cloner('published_dates');
    });
    $('#btnAddTag').click(function () {
        cloner('tags');
    });

    $('#fileSubmit').attr('disabled',true);
    $('#fileInput').change(function(){
        if($(this).val().length != 0){
            $('#fileSubmit').attr('disabled',false);
        }
    });

    @if(bookForm.value.isEmpty){
        $('#uploadAlert').modal('show');
    }
});

function toggle(divtag){
		if(document.getElementById(divtag).style.display=="none"){
			document.getElementById(divtag).style.display="block";
		} else {
			document.getElementById(divtag).style.display="none";
		}
	}


//]]>

</script>
}

@main("Book Upload", scripts){

<style>

.rightpannel{
  position: absolute;
   top: 170px;
  left: 55%;
 right:25%
}

.midlepannel{
  position: absolute;
   top: 170px;
  right: 50%;
  left: 30%;
  
}

.leftpannel{
  position: absolute;
   top: 170px;
  right: 75%;
  left: 5%;
}

input.titlebox{
    width : 99%;
}

textarea.descbox{
    width : 99%;
}

div.buttons{
    padding-bottom: 5pt;
}

a.addlink{
    font-size: small;
}
</style>

<!-- Modal for uploading a file -->
<div class="modal hide fade" tabindex="-1" role="dialog" id="uploadAlert" aria-labelledby="uploadFileHeader" aria-hidden="true">
    @form(routes.EzoomBooks.loadBook, 'enctype -> "multipart/form-data"){
        <div class="modal-header">
            <h3 id="uploadFileHeader">ePub Upload</h3>
        </div>
        <div class="modal-body">
            <p> In order to create a new book you have to upload the corresponding epub file.</p>
            <div>
                <label for="fileInput"> Please choose a file: </label>
                <input type="file" name="book" id="fileInput">
            </div>
        </div>
        <div class="modal-footer">
            <a href="@routes.EzoomBooks.listbooks()" class="btn">Cancel</a>
            <input type="submit" class="btn bnt-primary" value="Upload File" id="fileSubmit">
        </div>
    }
</div>  <!-- Modal End -->

<div class="row">
    <div class="col-md-12">
        <h2>Book metadata edition</h2>
        @if(bookForm.hasErrors){
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert">x</a>
            It seems there are some errors in your request... please verify that all fields are completed.
        </div>
        }
    </div>
</div>
@form(routes.EzoomBooks.saveBook){
@hidden(bookForm("book_id"))
<div class="row buttons">
    <div class="col-md-2 col-md-9 btn-group">
        <input type="submit" value="Save Book" class="btn">
        <a class="btn" href="@routes.EzoomBooks.listbooks">Cancel</a>
    </div>
</div>
<div class="row">
    <!-- Left Pannel -->
    <div class="col-md-7">
        @inputText(bookForm("title"),'_label->"Title", 'span->"6", 'label_span->"1", 'class->"titlebox")

        <div class="row">
            <div class="col-md-1"><label for="authors">Author(s)</label></div>
            <div class="col-md-6"><a href="#" class="addlink" id="addauthor">Add an author</a></div>
        </div>
        @repeat(bookForm("authors")){f =>
            @inputText(f,'_label->"", 'span->"6", 'label_span->"1", 'row_class -> "authors")
        }

        @textarea(bookForm("summary"), '_label->"Description", 'span->"6", 'label_span->"1", 'class->"descbox")

        <div class="row">
            <div class="col-md-2"><label for="publishers">Publisher(s)</label></div>
            <div class="col-md-5"><a href="#" class="addlink" id="btnAddPublshr">Add a publisher</a></div>
        </div>
        @repeat(bookForm("publishers")){f =>
            @inputText(f,'_label->"", 'span->"5", 'label_span->"2", 'row_class -> "publishers")
        }

        <div class="row">
            <div class="col-md-2"><label for="published_dates">Published date(s)</label></div>
            <div class="col-md-5"><a href="#" class="addlink" id="btnAddPubDate">Add a published date</a></div>
        </div>

        @repeat(bookForm("published_dates")){f =>
            @inputText(f,'_label->"", 'span->"5", 'label_span->"2", 'row_class -> "published_dates")
        }

        <div class="row">
            <div class="col-md-2"><label for="languages">Language(s)</label></div>
            <div class="col-md-5"><a href="#" class="addlink" id="btnAddLang">Add a language</a></div>
        </div>
        @repeat(bookForm("languages")){f =>
            @inputText(f,'_label->"", 'span->"5", 'label_span->"2", 'row_class -> "languages")
        }

        <div class="row">
            <div class="col-md-1"><label for="tags">Tags</label></div>
            <div class="col-md-6"><a href="#" class="addlink" id="btnAddTag">Add a tag</a></div>
        </div>
        @repeat(bookForm("tags")){f =>
            @inputText(f,'_label->"", 'span->"6", 'label_span->"1", 'row_class -> "tags")
        }

    </div>
    <!-- Right Pannel -->
    <div class="col-md-5">
        <img src='@routes.EzoomBooks.cachedBookCover' style='border: 1px solid #000;'>
        <p><a href="/">Change cover image</a></p>
    </div>
</div>
}

}

