@(book:Book,activeLayer:Option[EzoomLayer],partIndex:Int,partId:String,quoteRanges:List[String],partContent:Html,bookStyles:Html)(implicit context:Context)

@import ezbhelpers._
@import play.api.libs.json._

<!-- bookread.html -->

@scripts = {
@activeLayer.map{ezl =>
        <script src='@routes.Assets.at("javascripts/masha.js")'></script>
        <script src='@routes.Assets.at("javascript/utils.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("javascript/bookread.js")'></script>
        <script type="text/javascript">
            var quoteRanges = @Html(Json.toJson(quoteRanges).toString);
            QUOTER.url = "@routes.EzoomBooks.addQuote";

            $(document).ready(function() {
                        QUOTER.init('@context.user.map(_.id).getOrElse("")',
                            "@book.bookId", "@ezl.ezoombook_id", "@ezl.ezoomlayer_id", "@partId", quoteRanges);
            });
</script>
}.getOrElse{
@Html("")
}
}

@main(book.bookTitle, scripts, styles = bookStyles){
<style>
#pop{
    background-color:   #fff;
    border:             1px solid  1px solid #ccc;
    border:             1px solid rgba(0,0,0,.2);
                        .border-radius(6px);
                        .box-shadow(0 5px 10px rgba(0,0,0,.2));
}
</style>

<div class="btn-group">
    <a href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list"></span></a>
    <ul class="dropdown-menu">
        @activeLayer.map{ezl =>
        <li>
            <a href="@routes.EzoomBooks.ezoomLayerEdit(ezl.ezoombook_id.toString, ezl.ezoomlayer_id.toString, true)">
                <span class="glyphicon glyphicon-arrow-left"></span> @Messages("bookread.gotoezoomlayer.button")
            </a>
        </li>
        }.getOrElse{
        <li>@Messages("bookread.gotounknown.button")</li>
        }
        <li class="divider"></li>
        <li>@Messages("bookread.gotochapter.button")</li>
        @book.bookParts.map{bookPart =>
            <li><a href="@routes.EzoomBooks.readLayer(book.bookId.toString, bookPart.partId)">@bookPart.title.getOrElse("- Subsection")</a></li>
        }
    </ul>
</div>
<h1>@book.bookTitle</h1>

<div id="quote-saved-msg" style="display:none">
    <div class="upmsg-selectable-inner">
        <a class="btn close" data-dismiss="alert">&times;</a>
        <p>@Messages("bookread.selectquote.confirmation")</p>
    </div>
</div>
<a id="marker-bar" href="#" class="masha-marker-bar">
    <span class="masha-marker" title='@Messages("bookread.selectquote.marker.tooltip")'>@Messages("bookread.selectquote.marker")</span>
</a>
<!-- Reader -->
<div class="row">
    <div class="col-md-1">
        @if(partIndex > 0){
        <a href='@routes.EzoomBooks.readLayer(book.bookId.toString,book.bookParts(partIndex-1).partId)'>
            <span class="glyphicon glyphicon-chevron-left"></span></a>
        }
    </div>
    @defining(book.bookParts(partIndex).partId.split('#')){array =>
        @defining(if(array.length > 1){ array(1) } else { "" } ){ partId =>
            <div class="col-md-10" id="reader" data-partid="@partId" style="overflow:auto;">
                @partContent
            </div>
        }
    }
    <div class="col-md-1">
        @if(partIndex < book.bookParts.size-1){
        <a href='@routes.EzoomBooks.readLayer(book.bookId.toString,book.bookParts(partIndex+1).partId)'>
            <span class="glyphicon glyphicon-chevron-right"></span></a>
        }
    </div>
</div> <!-- Reader End -->
}