@(book:Book,activeLayer:Option[EzoomLayer],partIndex:Int,partId:String,quoteRanges:List[String],partContent:Html,bookStyles:Html)(implicit context:Context)

@import ezbhelpers._

<!-- bookread.html -->

@script = {
@activeLayer.map{ezl =>
<script src="@routes.Assets.at("javascripts/masha.js")" ></script>
<script type="text/javascript">//<![CDATA[
    function saveQuote(e){
    var selRange = MaSha.instance.getLastRange();

    if(selRange){
    var quote = MaSha.instance.deserializeRange(selRange).cloneContents().textContent;
    console.log("Saving <<"+quote+">>");
    var quoteMsg = {"userid":"@context.user.map(_.id).getOrElse("")",
    "bookid":"@book.bookId",
    "ezbid":"@ezl.ezoombook_id",
    "layerid":"@ezl.ezoomlayer_id",
    "partid":"@partId",
    "content":quote,
    "range":selRange};

    $.ajax({
    type:"POST",
    url:"@routes.EzoomBooks.addQuote",
    data:JSON.stringify(quoteMsg),
    contentType:"application/json; charset=utf-8",
    dataType: "json",
    success: function(data){
    console.log("Quote saved: " + data);
    },
    failure: function(xhr,ajaxOptions,trownErr){
    console.log("Error: " + xhr.responseText);
    }
    });
    }else{
    console.log('Ooops it`s an empty string');
    }
    }

    $(document).ready(function() {
    MaSha.instance = new MaSha({
    'selectable': 'reader',
    //'select_message': 'quote-saved-msg',
    'validate': true,
    'onMark': saveQuote,
    'marker': 'marker-bar'});

    @quoteRanges.map{qr =>
    var quoteRange = MaSha.instance.deserializeRange("@qr");
    MaSha.instance.addSelection(quoteRange);
    }

    //Add a function to Masha prototype for getting the last selected range
    MaSha.prototype.getLastRange = function(){
    for(var k in this.ranges) {}
    return this.ranges[k]; //this.deserializeRange(this.ranges[k]);
    }
    });
    //]]>
</script>
}.getOrElse{
@Html("")
}
}

@main(book.bookTitle, script, styles = bookStyles){
<style>
    #pop{
    background-color: #fff;
    border: 1px solid 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    .border-radius(6px);
    .box-shadow(0 5px 10px rgba(0,0,0,.2));
    }
</style>

<div class="btn-group">
    <a href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list"></span></a>
    <ul class="dropdown-menu">
        @activeLayer.map{ezl =>
        <li>
            <a href="@routes.EzoomBooks.ezoomLayerEdit(ezl.ezoombook_id.toString, ezl.ezoomlayer_id.toString)">
                <span class="glyphicon glyphicon-arrow-left"></span> Go back to eZoomLayer...
            </a>
        </li>
        }.getOrElse{
        <li>Go back to ?</li>
        }
        <li class="divider"></li>
        <li>Go to chapter:</li>
        @book.bookParts.map{bookPart =>
        <li><a href="@routes.EzoomBooks.readLayer(book.bookId.toString, bookPart.partId)">
            @bookPart.title.getOrElse("-Subsection")</a></li>
        }
    </ul>
</div>
<h1>@book.bookTitle</h1>

<div id="quote-saved-msg" style="display:none">
    <div class="upmsg-selectable-inner">
        <a class="btn close" data-dismiss="alert">&times;</a>

        <p>Your selection has been saved to the eZoomBook.</p>
    </div>
</div>
<a id="marker-bar" href="#" class="masha-marker-bar">
    <span class="masha-marker" title="mark">Select Quote</span>
</a>
<!-- Reader -->
<div class="row">
    <div class="col-md-1">
        @if(partIndex > 0){
        <a href='@routes.EzoomBooks.readLayer(book.bookId.toString,book.bookParts(partIndex-1).partId)'>
            <span class="glyphicon glyphicon-chevron-left"></span></a>
        }
    </div>
    <div class="col-md-10" id="reader">
        @partContent
    </div>
    <div class="col-md-1">
        @if(partIndex < book.bookParts.size-1){
        <a href='@routes.EzoomBooks.readLayer(book.bookId.toString,book.bookParts(partIndex+1).partId)'>
            <span class="glyphicon glyphicon-chevron-right"></span></a>
        }
    </div>
</div> <!-- Reader End -->
}