@(books:List[(String, Long)], bookForm:Form[Book])(implicit session:Session, context:Context)

@import ezbhelpers._
<!-- bookreedit.html -->

@scripts = {
<script type="text/javascript">//<![CDATA[
$(document).ready(function(){
    $('#btnAddAuth').click(function () {
        cloner('authors');
    });
    $('#btnAddLang').click(function () {
        cloner('languages');
    });
    $('#btnAddPublshr').click(function () {
        cloner('publishers');
    });
    $('#btnAddPubDate').click(function () {
        cloner('published_dates');
    });
    $('#btnAddTag').click(function () {
        cloner('tags');
    });
});



function toggle(divtag){
		if(document.getElementById(divtag).style.display=="none"){
			document.getElementById(divtag).style.display="block";
		} else {
			document.getElementById(divtag).style.display="none";
		}
	}


//]]>

</script>
}


@main("reedit a book", scripts){

<style>

.rightpannel{
  position: absolute;
   top: 170px;
  left: 60%;
 right:15%
}

.midlepannel{
  position: absolute;
   top: 170px;
  right: 60%;
  left: 35%;
  
}

.leftpannel{
  position: absolute;
   top: 170px;
  right: 65%;
  left: 10%;
}
</style>

    <h1>@Messages("bookreedit.addbook.header")</h1>

    </br>
<fieldset class="leftpannel">
    

   

    @helper.form(routes.EzoomBooks.saveEditedBook){
	    <h4>@inputText(bookForm("title"),'_label->Messages("bookreedit.metadata.title.input"))</h4>
        @hidden(bookForm("book_id"))
        @helper.repeat(bookForm("authors")){f =>
            <div id="authors0" style="margin-bottom:4px;" class="authors">
            <h4>@inputText(f,'_label->Messages("bookreedit.metadata.authors.input"))</h4>
            </div>
        }
        <input type="button" id="btnAddAuth" value='@Messages("bookreedit.metadata.addauthor.button")' >
        
      </fieldset>
      <fieldset class="midlepannel">
        @helper.repeat(bookForm("languages")){f =>
            <div id="languages0" class="languages">
                <h4>@inputText(f,'_label->Messages("bookreedit.metadata.languages.input"))</h4>
            </div>
        }
        <input type="button" id="btnAddLang" value='@Messages("bookreedit.metadata.addlanguage.button")' >

        @helper.repeat(bookForm("publishers")){f =>
            <div id="publishers0" class="publishers">
                <h4>@inputText(f,'_label->Messages("bookreedit.metadata.publishers.input"))</h4>
            </div>
        }
        <input type="button" id="btnAddPublshr" value='@Messages("bookreedit.metadata.addpublisher.button")' >

        @helper.repeat(bookForm("published_dates")){f =>
            <div id="published_dates0" class="published_dates"><h4>@inputText(f,'_label->Messages("bookreedit.metadata.dates.input"))</h4></div>
        }
        <input type="button" id="btnAddPubDate" value='@Messages("bookreedit.metadata.adddate.button")' >
</fieldset>
<fieldset class="rightpannel">
        @helper.repeat(bookForm("tags")){f =>
            <div id="tags0" class="tags"><h4>@inputText(f,'_label->Messages("bookreedit.metadata.tags.input"))</h4></div>
        }
        <input type="button" id="btnAddTag" value='@Messages("bookreedit.metadata.addtag.button")' >

        <h4>@textarea(bookForm("summary"))</h4>
        <input type="submit" value='@Messages("bookreedit.metadata.submit")'>
        </fieldset>
    }
}

