@(bookForm:Form[Book])(implicit session:Session, context:Context)

@import ezbhelpers._
@import utils.ezbhelpers.bookFieldHelper._

@scripts = {
<script type="text/javascript">//<![CDATA[
$(document).ready(function(){
    $('#addauthor').click(function () {
        cloner('authors');
    });
    $('#btnAddLang').click(function () {
        cloner('languages');
    });
    $('#btnAddPublshr').click(function () {
        cloner('publishers');
    });
    $('#btnAddPubDate').click(function () {
        cloner('published_dates');
    });
    $('#btnAddTag').click(function () {
        cloner('tags');
    });

    $('#fileSubmit').attr('disabled',true);
    $('#fileInput').change(function(){
        if($(this).val().length != 0){
            $('#fileSubmit').attr('disabled',false);
        }
    });

    @if(bookForm.value.isEmpty){
        $('#uploadAlert').modal('show');
    }
});

function toggle(divtag){
		if(document.getElementById(divtag).style.display=="none"){
			document.getElementById(divtag).style.display="block";
		} else {
			document.getElementById(divtag).style.display="none";
		}
	}


//]]>

</script>
}

@main(Messages("bookedit.title"), scripts){

<style>

.rightpannel{
  position: absolute;
   top: 170px;
  left: 55%;
 right:25%
}

.midlepannel{
  position: absolute;
   top: 170px;
  right: 50%;
  left: 30%;
  
}

.leftpannel{
  position: absolute;
   top: 170px;
  right: 75%;
  left: 5%;
}

input.titlebox{
    width : 99%;
}

textarea.descbox{
    width : 99%;
}

div.buttons{
    padding-bottom: 5pt;
}

a.addlink{
    font-size: small;
}
</style>

<!-- Modal for uploading a file -->
@modal(modalId = "uploadAlert",
    modalTitle = Messages("bookedit.upload.header"),
    formAction = Some(routes.EzoomBooks.loadBook),
    'enctype -> "multipart/form-data"
){
    <p>@Messages("bookedit.upload.message")</p>
    <div>
        <label for="fileInput">@Messages("bookedit.upload.input")</label>
        <input type="file" name="book" id="fileInput">
    </div>
}

<div class="row">
    <div class="col-md-12">
        <h2>@Messages("bookedit.metadata.header")</h2>
        @if(bookForm.hasErrors){
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert">x</a>
            @Messages("bookedit.metadata.error")
        </div>
        }
    </div>
</div>

@helper.form(routes.EzoomBooks.saveBook){
@hidden(bookForm("book_id"))
<div class="row buttons">
    <div class="col-md-2 col-md-9 btn-group">
        <input type="submit" value='@Messages("bookedit.save.button")' class="btn">
        <a class="btn" href="@routes.EzoomBooks.listbooks">@Messages("bookedit.cancel.button")</a>
    </div>
</div>
<div class="row">
    <!-- Left Pannel -->
    <div class="col-md-7">
        @inputText(bookForm("title"),'_label->Messages("bookedit.metadata.title.input"), 'span->"6", 'label_span->"1", 'class->"titlebox")

        <div class="row">
            <div class="col-md-1"><label for="authors">@Messages("bookedit.metadata.authors.input")</label></div>
            <div class="col-md-6"><a href="#" class="addlink" id="addauthor">@Messages("bookedit.metadata.addauthor.link")</a></div>
        </div>
        @helper.repeat(bookForm("authors")){f =>
            @inputText(f,'_label->"", 'span->"6", 'label_span->"1", 'row_class -> "authors")
        }

        @textarea(bookForm("summary"), '_label->Messages("bookedit.metadata.description.input"), 'span->"6", 'label_span->"1", 'class->"descbox")

        <div class="row">
            <div class="col-md-2"><label for="publishers">@Messages("bookedit.metadata.publishers.input")</label></div>
            <div class="col-md-5"><a href="#" class="addlink" id="btnAddPublshr">@Messages("bookedit.metadata.addpublisher.link")</a></div>
        </div>
        @helper.repeat(bookForm("publishers")){f =>
            @inputText(f,'_label->"", 'span->"5", 'label_span->"2", 'row_class -> "publishers")
        }

        <div class="row">
            <div class="col-md-2"><label for="published_dates">@Messages("bookedit.metadata.dates.input")</label></div>
            <div class="col-md-5"><a href="#" class="addlink" id="btnAddPubDate">@Messages("bookedit.metadata.adddate.link")</a></div>
        </div>

        @helper.repeat(bookForm("published_dates")){f =>
            @inputText(f,'_label->"", 'span->"5", 'label_span->"2", 'row_class -> "published_dates")
        }

        <div class="row">
            <div class="col-md-2"><label for="languages">@Messages("bookedit.metadata.languages.input")</label></div>
            <div class="col-md-5"><a href="#" class="addlink" id="btnAddLang">@Messages("bookedit.metadata.addlanguage.link")</a></div>
        </div>
        @helper.repeat(bookForm("languages")){f =>
            @inputText(f,'_label->"", 'span->"5", 'label_span->"2", 'row_class -> "languages")
        }

        <div class="row">
            <div class="col-md-1"><label for="tags">@Messages("bookedit.metadata.tags.input")</label></div>
            <div class="col-md-6"><a href="#" class="addlink" id="btnAddTag">@Messages("bookedit.metadata.addtag.link")</a></div>
        </div>
        @helper.repeat(bookForm("tags")){f =>
            @inputText(f,'_label->"", 'span->"6", 'label_span->"1", 'row_class -> "tags")
        }

    </div>
    <!-- Right Pannel -->
    <div class="col-md-5">
        <img src='@routes.EzoomBooks.cachedBookCover' style='border: 1px solid #000;'>
        <p><a href="/">@Messages("bookedit.metadata.image.link")</a></p>
    </div>
</div>
}

}

