@(book:Book)(implicit context:Context)

@import helper._

@main("Book Page"){

<body>
  <div class="container">
  </br></br></br>
    <h1>@book.bookTitle</h1></br>
    <h2>Author : @book.bookAuthors</h2></br>
    <h2>Publisher : @book.bookPublishers</h2></br>
    <h2>Published Date : @book.bookPublishedDates</h2></br>
    <h2>Summary: </h2>
    <p>
        @book.bookSummary
    </p>
    
     <h2>EzoomBook</h2>

			<table class="table table-striped">
				<tbody>
					<tr>
						<th>Title</th><th>Author</th><th>Nbr of level</th><th>Date of creation</th><th>Popularity</th>
					</tr>
					
				</tbody>
			</table>
		</div>
		</body>
}