@(contactForm: Form[(String,String)])(implicit session:Session, context:Context)
@import ezbhelpers._
@main(Messages("contact.title")){


<h1>@Messages("contact.h1")</h1>



<p>@Messages("contact.team.intro")</p>
<a href="http://ezoombook.wordpress.com/people-involved/ecole-centrale-audencia-save/" >@Messages("contact.team.humanities")</a></br>
<a href="http://ezoombook.wordpress.com/people-involved/ecole-centrale-de-nantes-science/" >@Messages("contact.team.science")</a></br>
<a href="http://ezoombook.wordpress.com/people-involved/law-and-intellectual-property/" >@Messages("contact.team.law")</a>

<h2>@Messages("contact.message.h2")</h2>

<div>
            @helper.form(routes.Support.contactadmin) {
                @inputText(contactForm("usermail"), '_label -> Messages("contact.message.form.email"))
                @textarea(contactForm("arequest"), args = 'rows -> 7, 'class->"col-md-12", 'placeholder -> Messages("contact.message.form.seefaq"), '_label -> Messages("contact.message.form.text"))
                <input type="submit"  value='@Messages("contact.message.form.submit")'>
            }
        </div>
}
