@(bookList:List[Book], ezoomBookForm:Form[Ezoombook], projectId:String)(implicit session:Session, context:Context)

@import ezbhelpers._

@scripts={
<script type="text/javascript"> //<![CDATA[
    $('a.book').click(function(){
    var bookId = $(this).attr('id');
    var title = $(this).attr('data-title');
    $('#book_id').val(bookId);
    $('#ezb_title').val(title);
    });
    //]]>
</script>
}

@styles={
<link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/booklist.min.css")'/>
}
@main(Messages("ezbbooklist.title"), scripts,styles){

@modal(modalId = "ezbform",
modalTitle = Messages("ezbbooklist.newezb.h3"),
formAction = Some(routes.Collaboration.saveProjectEzb(projectId))
){
@hidden(ezoomBookForm("ezb_owner"))
@hidden(ezoomBookForm("book_id"))
@hidden(ezoomBookForm("ezb_id"))
@inputText(ezoomBookForm("ezb_title"), '_label->"Title:")
}

<div class="row">
    <h1>@Messages("ezbbooklist.header")</h1>
</div>
<div class="row">
    <h2>@Messages("ezbbooklist.choosebook.h2")</h2>
</div>
<div class="row">
    Search : [.............................]
</div>
<div class="row book-thumbs-container">
    <div class="columns">
        @bookList.map{book =>
        <div class="book-thumbnail">
            <a class="book" data-toggle="modal"
               href="#ezbform" id="@book.bookId" data-title="@book.bookTitle">
                <img
                        data-src='holder.js/260x180'
                        src='@routes.EzoomBooks.bookCover(book.bookId.toString)'
                        alt="@book.bookTitle">
            </a>

            <h3>@book.bookTitle</h3>

            <p>@book.bookAuthors.mkString(",")</p>

            <p>@book.bookPublishedDates.mkString(",")</p>

            <p>@book.bookTags.mkString(",")</p>
        </div>
        }
    </div>
</div>
}