@(bookList:List[Book], ezoomBookForm:Form[Ezoombook], projectId:String)(implicit session:Session, context:Context)

@import helper._
@import ezbhelper._

@scripts={
<script type="text/javascript"> //<![CDATA[
  $('a.book').click(function(){
    var bookId = $(this).attr('id');
    var title = $(this).attr('data-title');
    $('#book_id').val(bookId);
    $('#ezb_title').val(title);
  });
//]]>
</script>
}

@main("Create a new eZoomBook from a Book", scripts){
<style>
.book-thumbs-container{
  width: 90%;
  max-width: 1100px;
  min-width: 800px;
  margin: 50px auto;
}
.columns {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}
.book-thumbnail{
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
	
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.book-thumbnail img {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.book-thumbnail p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0;
}

'@@'media (min-width: 960px) {
  #columns {
    -webkit-column-count: 4;
   -moz-column-count: 4;
   column-count: 4;
  }
}

'@@'media (min-width: 1100px) {
  #columns {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}

//#columns:hover .pin:not(:hover) {
//	opacity: 0.4;
//}

</style>

<div class="modal hide" id="ezbform"> <!-- Ezb creation modal -->
  <div class="modal-header"> <a class="close" data-dismiss="modal">x</a>
    <h3>@Messages("ezbbooklist.newezb.h3")</h3>
  </div>
  <div class="modal-body">
    @form(routes.Collaboration.saveProjectEzb(projectId)){
      @hidden(ezoomBookForm("ezb_owner"))
      @hidden(ezoomBookForm("book_id"))
      @hidden(ezoomBookForm("ezb_id"))
      @inputText(ezoomBookForm("ezb_title"), '_label->"Title:")
      <input type="submit" value='@Messages("book.createezb.button")'>
    }
  </div>
  <div class="modal-footer"> <a class="btn btn-info" data-dismiss="modal">@Messages("application.close.button")</a> </div>
</div>  

<div class="row">
    <h1>@Messages("ezbbooklist.header")</h1>
</div>
<div class="row">
    <h2>@Messages("ezbbooklist.choosebook.h2")</h2>
</div>
<div class="row">
    Search : [.............................]
</div>
<div class="row-fluid book-thumbs-container">  
    <div class="columns">
        @bookList.map{book =>
                <div class="book-thumbnail">
		  <a class="book" data-toggle="modal"
		  href="#ezbform" id="@book.bookId" data-title="@book.bookTitle">
		    <img
                      data-src='holder.js/260x180'
                      src='@routes.EzoomBooks.bookCover(book.bookId.toString)'
                      alt="@book.bookTitle">
		    </a>
		    <h3>@book.bookTitle</h3>
                    <p>@book.bookAuthors.mkString(",")</p>
                    <p>@book.bookPublishedDates.mkString(",")</p>
                    <p>@book.bookTags.mkString(",")</p>
		</div>
        }
    </div>
</div>
}