@(ezb:Ezoombook, activeLayer:Option[EzoomLayer], ezlForm:Form[EzoomLayer],
bookOpt:Option[Book],
projOpt:Option[EzbProject],
canEditLayer:User => Boolean,
canEditContrib:(User,String,String) => Boolean)(implicit context:Context)

@import utils.ezbhelpers.EzbHelpers._
@import ezbhelpers._

@scripts = {
<script src='@routes.Assets.at("javascripts/jquery-ui-1.10.4.custom.min.js")'></script>
<script src='@routes.Assets.at("javascript/layeredit.js")'></script>
}

@displayEzbSummary(field:Field, hide:Boolean, divId:String) = {
<div class="row contrib_div @if(hide){hide} ezb_summary" id="ezb_summary_@divId">
    <div class="col-md-11 text_box">
        <a class="deletecontrib" data-contribid="ezb_summary_@divId"><span
                class="glyphicon glyphicon-trash delete-icon"></span></a>
        @textarea(field, '_label -> "", 'class -> "ezb_summary contrib")
    </div>
</div>
}

@displayPart(part:Field, hide:Boolean, divId:String) = {
<div class="part_field contrib_div hl_contrib @if(hide){hide}" id="part_field_@divId" data-contrib-index="@divId">
    <div class="row part_div form-group">
        <div class="col-md-1 ">
            <a title="Move up" class="move-up" data-move-target="part_field_@divId"><span class="glyphicon glyphicon-arrow-up"></span></a>
            <span class="glyphicon glyphicon-sort drag-handle"></span>
        </div>
        <div class="col-md-6 title_box">
            @hidden(part("contrib_index"), Symbol("data-field-key") -> "contrib_index")
            @hidden(part("contrib_type"))
            @part("part_id").value.map{partId =>
               @hidden(part("part_id"))
               @inputText(part("part_title"), '_label->"", 'class-> "part_title" ,'placeholder -> "Write a Title Here")
            }.getOrElse{
                @bookOpt.map{book =>
                <div>
                    @select(part("part_id"),
                        options = book.bookParts.map{
                            case BookPart(id, Some(title)) => (id, title)
                            case BookPart(id, _) => (id, "- Subsection")
                        } :+ ("","Add Custom Section"),
                        '_label -> "",
                        Symbol("data-titlefield") -> part("part_title").id,
                        'class -> "part_id")
                </div>
                }
                @hidden(part("part_title"), 'class -> "part_title")
            }
        </div>
        <div class="col-md-4 btn-group part_actions">
            <button class="btn btn-default" data-toggle="dropdown" href="#">New<span class="caret"></span></button>
            <ul class="dropdown-menu add_menu">
                <li><a class="btnAddQuote" data-part-div-id="@divId">Quote</a></li>
                <li><a class="btnAddPartSummary" data-part-div-id="@divId">Summary</a></li>
            </ul>
            @bookOpt.map{book =>
                @part("part_id").value.map{partId =>
                    @projOpt.map{proj =>
                        <a class="btn btn-default" href='@routes.EzoomBooks.readProjLayer(proj.projectId.toString, book.bookId.toString,partId)'>
                            Go to book...</a>
                    }.getOrElse{
                        <a class="btn btn-default" href='@routes.EzoomBooks.readLayer(book.bookId.toString,partId)'>
                            Go to book...</a>
                    }
                }.getOrElse{
                    <a class="btn btn-default hide readBtn" href="#" data-bookId="@book.bookId">Go to book...</a>
                }
            }
            <a class="btn btn-default deletecontrib"
               data-contribid="part_field_@divId"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
    </div>
    <div class="part-contribs sortable" id="part-contribs-@divId">
    @for(i <- part("part_contribs").indexes;
        pc = part("part_contribs")("["+i+"]")){
            @pc("contrib")("contrib_type").value.map{ct =>
                    @displayAtomic(ct,pc,"part_", divId, i.toString, false)
            }.getOrElse{ <!-- Cannot display part content --> }
    }
    </div>
</div>
}

@displayAtomic(ctype:String, c:Field, level:String, parent:String, divId:String, hide:Boolean) ={
@defining("contrib_div_"+parent+"_"+divId+"_"){div_id =>
<div class='row contrib_div form-group @if(hide){hide} @if(level=="contrib_"){hl_contrib}'
     data-contrib_type="@ctype" data-contrib-index="@divId" id='@div_id'>
    @ctype match{
    case "contrib.Quote" => {
        <div class="col-md-1">
            <span class="badge badge-inverse" style="font-size:20px; float: right;">&ldquo;</span>
        </div>
        <div class="col-md-10 text_box">
            <div class="row">
                <a title="Move up" class="move-up" data-move-target="@div_id"><span class="glyphicon glyphicon-arrow-up"></span></a>
                <span class="glyphicon glyphicon-sort drag-handle"></span>
                <a class="deletecontrib"
                   data-contribid='@div_id'><span class="glyphicon glyphicon-trash delete-icon"></span></a>
            </div>
            <div class="row">
                @textarea(c("contrib")("contrib_content"), '_label -> "", 'class -> "quote contrib", Symbol("data-field-key") -> "contrib_content")
                @hidden(c("contrib")("contrib_id"))
                @hidden(c("contrib")("contrib_type"), Symbol("data-field-key") -> "contrib_type")
                @hidden(c("contrib")("range"))
                @hidden(c("contrib_index"), Symbol("data-field-key") -> "contrib_index")
            </div>
        </div>
    }
    case "contrib.Summary" => {
        <div class="col-md-11 text_box summary_box">
            <div class="row">
                <a title="Move up" class="move-up" data-move-target="@div_id"><span class="glyphicon glyphicon-arrow-up"></span></a>
                <span class="glyphicon glyphicon-sort drag-handle"></span>
                <a class="deletecontrib"
                   data-contribid='@div_id'><span class="glyphicon glyphicon-trash delete-icon"></span></a>
            </div>
            <div class="row">
                @hidden(c("contrib_index"), Symbol("data-field-key") -> "contrib_index")
                @defining(if(level == "part_") c("contrib") else c){ contrib =>
                    @hidden(contrib("contrib_type"), Symbol("data-field-key") -> "contrib_type")
                    @hidden(contrib("contrib_id"))
                    @textarea(contrib("contrib_content"), '_label -> "", 'class -> (level+"summary contrib"), Symbol("data-field-key") -> "contrib_content")
                }
            </div>
        </div>
    }
    case _ =>  { <p>Could not display contribution. Unknown type @ctype</p> }
    }
</div>
}
}

@levelMap(body: (Map[String,String]) => Html ) = {
    @defining((for(i <- 1 to 4) yield (i.toString -> Messages("application.ezlayer.level."+i))).toMap ){lmap =>
        @body(lmap)
    }
}

@displayEzbInfo = {
<dl>
    <dt>Title:</dt>
    <dd>@ezb.ezoombook_title</dd>
    @projOpt.map{project =>
        <dt>Project:</dt>
        <dd><a href="@routes.Collaboration.projectAdmin(project.projectId.toString)">@project.projectName</a></dd>
    }
    <dt>Is Public:</dt>
    <dd>@if(ezb.ezoombook_public){
            @Messages("application.yes")
        }else{
            @Messages("application.no")
        }
    </dd>
    <dt>Status:</dt>
    <dd>@ezb.ezoombook_status</dd>
    <dt>Layers</dt>
    <ul>
        @ezb.ezoombook_layers.map{layer =>
            @levelMap{lmap =>
                <li>
                @projOpt.map{proj =>
                    <a href="@routes.EzoomBooks.projectEzlayerEdit(proj.projectId.toString)">
                        @lmap.getOrElse(layer._1, "undef")</a>
                }.getOrElse{
                    <a href="@routes.EzoomBooks.ezoomLayerEdit(ezb.ezoombook_id.toString,layer._2)">
                        @lmap.getOrElse(layer._1, "undef")</a>
                }
                </li>
            }
        }
    </ul>
    @if(context.user.exists(canEditLayer(_))){
        <dt>
            <a href="@routes.EzoomBooks.ezoomBookEdit(ezb.ezoombook_id.toString)">Add a layer...</a>
        </dt>
        <dd></dd>
    }
</dl>
}

@styles = {
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/layeredit.css")'>
}

@main("Ezoombook Edition", scripts, styles){

<!-- Invisible part div (used as template) -->
@displayPart(ezlForm("ezoomlayer_contribs"), true, "999")

<!-- Another template for quotes -->
@displayAtomic("contrib.Quote", ezlForm("ezoomlayer_contribs"), "part_", "_", "quote_999", true)

<!-- And another template for summaries -->
@displayAtomic("contrib.Summary", ezlForm("ezoomlayer_contribs"), "part_", "_", "summary_999", true)

<!-- A simple textarea for EZB Summaries -->
@displayEzbSummary(ezlForm("ezoomlayer_summaries"), true, "999")

<!-- An alert modal to desplay when deleting an EzoomLayer -->
@modal(modalId= "deleteAlert",
modalTitle = Messages("ezoomlayeredit.ezlayerdelete.header"),
formAction = activeLayer.map(ezl => routes.EzoomBooks.ezoomLayerDelete(ezl.ezoombook_id.toString,ezl.ezoomlayer_level))
){
@if(!activeLayer.isEmpty){
<p>@Messages("ezoomlayeredit.ezlayerdelete.alertmessage")</p>
}else{
<p>@Messages("ezoomlayeredit.ezlayerdelete.nolayerfound")</p>
}
}

<div class="row">
    <div class="col-md-12">
        <h1>eZoomBook Edition</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div>
            <h3 id="ezoombook_title">eZoomBook Info</h3>
            @displayEzbInfo

            @if(context.user.exists(canEditLayer(_))){
                <p>Load a layer from a file: </p>
                @helper.form(routes.EzoomBooks.loadEzoomLayer(ezb.ezoombook_id.toString, projOpt.map(_.projectId.toString).getOrElse("0")),
                    'enctype -> "multipart/form-data"){
                    <input type="file" name="ezlfile"></br>
                    <input type="submit">
                }
            }
        </div>
        @bookOpt.map{book =>
        <div>
            <h3 id="book_info_header">Book Info</h3>
            <dl>
                <dt>Title:</dt>
                <dd>@book.bookTitle</dd>
                <dt>Author(s):</dt>
                <dd>@book.bookAuthors.mkString(",")</dd>
                <dt><a href="@routes.EzoomBooks.readLayer(book.bookId.toString,book.bookParts(0).partId)">Navigate this
                    book... </a></dt>
                <dd></dd>
            </dl>
        </div>
        }.getOrElse{
        <div>Please specify a book!</div>
        }
    </div>
    <div class="col-md-9">
        @if(ezlForm.hasErrors){
        <div class="alert alert-danger fade in">
        <a class="close" data-dismiss="alert">x</a>

            <p>It seems there are some errors in your request...</p>
            <ul>
                @ezlForm.errors.map{err =>
                    <li>@err.key : @err.message</li>
                }
            </ul>
        </div>
        }
        @helper.form(projOpt.map(proj => routes.EzoomBooks.saveProjEzoomLayer(proj.projectId.toString, ezb.ezoombook_id.toString)).getOrElse(
            routes.EzoomBooks.saveEzoomlayer(ezb.ezoombook_id.toString)),
        'id -> "ezl_form", 'role -> "form"){
        <fieldset>
            <legend>eZoomLayer</legend>
            @hidden(ezlForm("ezoomlayer_id"))
            @hidden(ezlForm("ezoombook_id"))
            @hidden(ezlForm("ezoomlayer_owner"))
            @hidden(ezlForm("ezoomlayer_locked"))
            <div class="row">
                <div class="col-md-9">
                    <input class="btn btn-default" type="submit" value="Save Changes" id="saveChangesBtn">
                </div>
                <div class="col-md-2">
                    @if(context.user.exists(canEditLayer(_))){
                        @activeLayer.map{ezl =>
                            <button class="btn btn-default" href="#deleteAlert" role="button" data-toggle="modal">Delete
                                eZoomLayer
                            </button>
                        }
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <label for="ezoomlayer_status">Layer status:</label>
                </div>
            </div>
            <div class="row">
                @if(context.user.exists(canEditLayer(_))){
                <div class="col-md-9 btn-group" data-toggle="buttons">
                    @radioButtonGroup(ezlForm("ezoomlayer_status"),
                    options = Seq(Status.published.toString -> Status.published.toString,
                    Status.workInProgress.toString -> Status.workInProgress.toString),
                    '_label -> "")
                </div>
                } else{
                <div class="col-md-9">
                    @activeLayer.map{ezl =>
                        @ezl.ezoomlayer_status
                    }
                </div>
                }
            </div>
            <div class="row">
                @if(context.user.exists(canEditLayer(_))){
                <div class="col-md-9 padded_field form-group">
                    @levelMap{lmap =>
                    @select(ezlForm("ezoomlayer_level"), options = for(i <- 1 to 4) yield(i.toString ->
                    lmap(i.toString)),
                    '_label -> "Choose the detail level of your layer:")
                    }
                </div>
                }else{
                <div class="col-md-9">
                    <label for="ezoomlayer_level">
                        Level of detail:
                    </label>
            </div>
                <div class="col-md-9">
                    @activeLayer.map{ezl =>
                        @levelMap{lmap =>
                            @lmap(ezl.ezoomlayer_level.toString)
                        }
                    }
                </div>
                }
            </div>
            @if(context.user.exists(canEditLayer(_))){
            <div class="row">
                <div class="btn-group col-md-9">
                    <input type="button" class="btn btn-default" id="btnAddezbSummary" value="+ Book Summary">
                    <input type="button" class="btn btn-default" id="btnAddSummary" value="+ Summary">
                    <input type="button" class="btn btn-default" id="btnAddPart" value="+ Part">
                </div>
            </div>
            }
        </fieldset>
        <fieldset id="summaries_set">
            <legend>Book Summaries</legend>
            @helper.repeat(ezlForm("ezoomlayer_summaries"), min = 0){f =>
            @displayEzbSummary(f, false, "@f.id")
            }
        </fieldset>
        <fieldset id="contribs_set" class="sortable">
            <legend>Contributions</legend>
            @for(i <- ezlForm("ezoomlayer_contribs").indexes;
                f = ezlForm("ezoomlayer_contribs")("["+ i +"]") ){
                    @if(context.user.exists(u => canEditContrib(u, f("part_id").value.getOrElse(""), f("contrib_id").value.getOrElse("")))){
                        @f("contrib_type").value.map{cf =>
                            @cf match{
                            case "contrib.Part" => { @displayPart(f, false, i.toString) }
                            case _ => { @displayAtomic(cf, f, "contrib_", "_", i.toString, false) }
                            }
                        }
                    }else{
                        <!-- Part @f("part_id").value.getOrElse("") not showed, not enought privileges -->
                    }
            }
        </fieldset>

        } <!-- form end -->
    </div>
</div>
}



