@()(implicit session:Session, context:Context)

@import ezbhelpers._

@main(Messages("faq.title")){

<h1>@Messages("faq.h1")</h1>


<p><br />
</p>

<p><b>@Messages("faq.general.subtitle")</b></p>

<p>@Messages("faq.general.whatisezb")</p>

<p>@Messages("faq.general.whocanuseezb")</p>

<p>@Messages("faq.general.whyuseezb")</p>

<p>@Messages("faq.general.whatcanido")</p>

<p>@Messages("faq.general.readingexperience")</p>

<p><b>@Messages("faq.platform.subtitle")</b></p>

<p>@Messages("faq.platform.whencaniuse")</p>

<p>@Messages("faq.platform.wherecaniuse")</p>

<p>@Messages("faq.platform.requirements")</p>

<p>@Messages("faq.platform.format")</p>

<p>@Messages("faq.platform.browser")</p>

<p>@Messages("faq.platform.bestbrowser")</p>

<p>@Messages("faq.platform.download")</p>

<p>@Messages("faq.platform.upload")</p>

<p>@Messages("faq.platform.uploadedlayerduration")</p>

<p>@Messages("faq.platform.uploadedbookduration")</p>

<p>@Messages("faq.platform.counter")</p>

<p>@Messages("faq.platform.cgu")</p>

<p><b>@Messages("faq.subscription.subtitle")</b></p>

<p>@Messages("faq.subscription.membership")</p>

<p>@Messages("faq.subscription.subscribe")</p>

<p>@Messages("faq.subscription.login")</p>

<p>@Messages("faq.subscription.prices")</p>

<p>@Messages("faq.subscription.trial")</p>

<p>@Messages("faq.subscription.duration")</p>

<p>@Messages("faq.subscription.renewal")</p>

<p>@Messages("faq.subscription.unsubscribe")</p>

<p><b>@Messages("faq.profile.subtitle")</b></p>

<p>@Messages("faq.profile.create")</p>

<p>@Messages("faq.profile.createminor")</p>

<p>@Messages("faq.profile.desc")</p>

<p>@Messages("faq.profile.privacy")</p>

<p>@Messages("faq.profile.privacysettings")</p>

<p>@Messages("faq.profile.complete")</p>

<p>@Messages("faq.profile.anonymous")</p>

<p><b>@Messages("faq.userinfo.subtitle")</b></p>

<p>@Messages("faq.userinfo.lostpassword")</p>

<p>@Messages("faq.userinfo.lostusername")</p>

<p>@Messages("faq.userinfo.changepassword")</p>

<p>@Messages("faq.userinfo.changeemail")</p>

<p><b>@Messages("faq.produce.subtitle")</b></p>

<p>@Messages("faq.produce.createbook")</p>

<p>@Messages("faq.produce.createlayers")</p>

<p>@Messages("faq.produce.editbook")</p>

<p>@Messages("faq.produce.editlayers")</p>

<p>@Messages("faq.produce.removebook")</p>

<p>@Messages("faq.produce.removelayers")</p>

<p>@Messages("faq.produce.deletebook")</p>

<p>@Messages("faq.produce.deletelayers")</p>

<p>@Messages("faq.produce.collaborate")</p>

<p>@Messages("faq.produce.save")</p>

<p>@Messages("faq.produce.addimage")</p>

<p>@Messages("faq.produce.addaudio")</p>

<p>@Messages("faq.produce.addvideo")</p>

<p>@Messages("faq.produce.addgame")</p>

<p><b>@Messages("faq.privatespace.subtitle")</b></p>

<p>@Messages("faq.privatespace.create")</p>

<p>@Messages("faq.privatespace.createalone")</p>

<p>@Messages("faq.privatespace.readcomments")</p>

<p>@Messages("faq.privatespace.empty")</p>

<p><b>@Messages("faq.libraries.subtitle")</b></p>

<p>@Messages("faq.libraries.spacevslibrary")</p>

<p>@Messages("faq.libraries.privatevswiki")</p>

<p>@Messages("faq.libraries.publishprivatelibrary")</p>

<p>@Messages("faq.libraries.publishwikilibrary")</p>

<p>@Messages("faq.libraries.seeprivatespace")</p>

<p>@Messages("faq.libraries.seeprivatelibrary")</p>

<p><b>@Messages("faq.buildlayers.subtitle")</b></p>

<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#createquotes">
<p>@Messages("faq.buildlayers.createquotes")</p></a>
<div id="createquotes" class="accordion-body collapse out"><div class="accordion-inner">
@Messages("faq.buildlayers.createquotes.answer")</div></div>

<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#writesummaries">
<p>@Messages("faq.buildlayers.writesummaries")</p></a>
<div id="writesummaries" class="accordion-body collapse out"><div class="accordion-inner">
@Messages("faq.buildlayers.writesummaries.answer")</div></div>

<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#docform">
<p>@Messages("faq.buildlayers.format")</p></a>
<div id="docform" class="accordion-body collapse out"><div class="accordion-inner">
<p>@Messages("faq.buildlayers.format.answer1")</p>
<p>@Messages("faq.buildlayers.format.answer2")</p>
<p>@Messages("faq.buildlayers.format.answer3")</p>
<p>@Messages("faq.buildlayers.format.answer4")</p>
<p>@Messages("faq.buildlayers.format.answer5")</p>
<p>@Messages("faq.buildlayers.format.answer6")</p>
<p>@Messages("faq.buildlayers.format.answer7")</p>
<p>@Messages("faq.buildlayers.format.answer8")</p>
<p>@Messages("faq.buildlayers.format.answer9")</p>
<p>@Messages("faq.buildlayers.format.answer10")</p>
</div></div>

<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#goodquality">
<p>@Messages("faq.buildlayers.controlquality")</p></a>
<div id="goodquality" class="accordion-body collapse out"><div class="accordion-inner">
<p>@Messages("faq.buildlayers.controlquality.answer1")</p>
<p>@Messages("faq.buildlayers.controlquality.answer2")</p>
<p>@Messages("faq.buildlayers.controlquality.answer3")</p>
<p>@Messages("faq.buildlayers.controlquality.answer4")</p>
<p>@Messages("faq.buildlayers.controlquality.answer5")</p>
</div></div>

<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#partnerquality">
<p>@Messages("faq.buildlayers.help")</p></a>
<div id="partnerquality" class="accordion-body collapse out"><div class="accordion-inner">
<p>@Messages("faq.buildlayers.help.answer1")</p>
<p>@Messages("faq.buildlayers.help.answer2")</p>
<p>@Messages("faq.buildlayers.help.answer3")</p>
<p>@Messages("faq.buildlayers.help.answer4")</p>
 </div></div>

<p><b>@Messages("faq.technicalproblems.subtitle")</b></p>

<p>@Messages("faq.technicalproblems.login")</p>

<p>@Messages("faq.technicalproblems.changesnotshowingup")</p>

<p>@Messages("faq.technicalproblems.newlayernotshowingup")</p>

<p>@Messages("faq.technicalproblems.layernotappearing")</p>

<p>@Messages("faq.technicalproblems.booknotappearing")</p>

<p>@Messages("faq.technicalproblems.layerdisappearing")</p>

<p>@Messages("faq.technicalproblems.bookdisappearing")</p>

<p>@Messages("faq.technicalproblems.firewalls")</p>

<p>@Messages("faq.technicalproblems.rememberpassword")</p>

<p>@Messages("faq.technicalproblems.bandwith")</p>

<p><b>@Messages("faq.languages.subtitle")</b></p>

<p>@Messages("faq.languages.accents")</p>

<p>@Messages("faq.languages.mathsymbols")</p>

<p>@Messages("faq.languages.asiancharacters")</p>

<p>@Messages("faq.languages.viewasiancharacters")</p>

<p>@Messages("faq.languages.chinesepinyin")</p>

<p><b>@Messages("faq.privacy.subtitle")</b></p>

<p>@Messages("faq.privacy.policy")</p>

<p>@Messages("faq.privacy.sharedcomputer")</p>

<p>@Messages("faq.privacy.anonymize")</p>

<p><b>@Messages("faq.other.subtitle")</b></p>

<p>@Messages("faq.other.hyperlinks")</p>

<p>@Messages("faq.other.help")</p>

</body>
</div>
}

