@(groupId:String, groupName:String, members:List[User], memberForm:Form[(String,String)] )(implicit session:Session)

@import helper._

<script>
function overlay() {
	el = document.getElementById("overlay");
	el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
}
</script>

@main("Group "){

<style>

.raccount{
  position: absolute;
   top: 150px;
  right: 0;
  left:75%;
}

.parameter{
  position: absolute;
   top: 80px;
  right: 75px;
}

.logout{
  position: absolute;
   top: 80px;
  right: 15px;  
}

.rightpannel{
  position: absolute;
   top: 300px;
  left: 75%;
  right: 0;
}

.midlepannel{
  position: absolute;
   top: 150px;
  right: 25%;
  left: 25%;
  
}

.leftpannel{
  position: absolute;
   top: 150px;
  right: 75%;
  left: 0;
}
</style>
</br><a href='#' onclick='overlay()'>add a member</a></br>
<div class="raccount">
    <fieldset>
   <legend><P><strong>My account</strong></p></legend>
   <p>Welcome @session.get("userName")</p>
   <div>
      <form href="#" method="GET">
   <button type="submit" class="parameter">parameter</button>
   	</form>
   @form(routes.Application.userLogout){
   	<input type="submit" class="logout" value="log out">
   }
   </form></div><img src="smiley.gif" alt="Smiley face" width="42" height="42">
   </fieldset>
   
</div>
</br></br></br></br></br></br></br>
<div class="leftpannel">
<fieldset>
<h1 style="float:left">Create a project</h1>
</br></br></br></br>

 @** @form(routes.Community.newProject){
	    <h4>@inputText(projectForm("projectName"),'_label->"Name of the project")</h4>
	   
	   @hidden(projectForm("ownerId"), 'value -> session.get("userId"))
	    <input type="submit" value="Create a project"> }**@
	     
</br>
<fieldset>
            <legend><h1>My project</h1></legend>
  
    
    <div class="CSSTableCool" >
			<table>
				<tbody>
					<tr>
						<th>Title</th><th>You own</th><th></th>
					</tr>
				
					
					
				</tbody>
			</table>
		</div>

    </fieldset>
    </fieldset>
		</fieldset>
</div>


<div class="rightpannel">

    <fieldset>
    <legend><h1>Members</h1></legend>
    <div class="CSSTableCool" >
			<table>
				<tbody>
					<tr>
						<th>Name</th><th>Status</th><th></th>
					</tr>
					
				</tbody>
			</table>
		</div>
		</br>
    </br> </br> </br>
    </br>
    </br> </br> </br></br> </br> </br>
     </br>
    </br> </br> </br>
    </br> </br>
    </br>
    </br> </br> </br>
    </br> </br></br>
    </br> </br> </br>
    </br>
    </br> </br> </br></br> </br> </br> </br>
    
    </fieldset>
</div>
<div class="midlepannel">
   <fieldset>
   <legend><h1>@groupName Group</h1></legend>
    
 
 	<!-- Start HTML Code --><iframe WIDTH="100%" HEIGHT="810" title="Shoutbox" src="http://shoutbox.widget.me/window.html?uid=@groupName" frameborder="0" scrolling="auto"></iframe><script src="http://shoutbox.widget.me/v1.js" type="text/javascript"></script><br><!-- End -->

</div>
   
    </fieldset>
</div>
 </br>
    </br> </br> </br>
    </br>
    </br> </br> </br>
    </br> </br>
    </br>
    </br> </br> </br>
    </br> </br>
    </br>
    </br> </br> </br>

     </br>
    
    </br>
    </br> </br> </br>
    
    

     
     
     <div id="overlay">
     <div style="width:300px">
     <h2>Add Member:</h2>
     
     @form(routes.Community.newGroupMember(groupId)){
         @inputText(memberForm("member id"))
         @select(memberForm("role"), UserDO.getGroupMemberRole)
         <input type="submit" value="Add">
     }
     
     <a href='#' onclick='overlay()'>close</a>
          
          </p>
     </div>
</div>
}