@(groupId:String, groupName:String, members:List[(User,AppDB.dal.Roles.Value)], memberForm:Form[(String,String)] )(implicit session:Session, context:Context)
@main("Group administration"){
<style>


.rightpannel{
  position: absolute;
  top:170px;
   right:2%;
  left: 51%;
}

.leftpannel{
  position: absolute;
  top:170px;
   left:5%;
  right: 51%;
}
</style>

 </br>
  
  <h1>@Messages("groupadmin.header")</h1>
  </br></br>
  <div class="leftpannel">
<fieldset>
  <h4>@Messages("groupadmin.deletevote.h4")</h4>

  <a><input type="radio" name="vote1" value="yes" >@Messages("application.yes")</a></br></br>
  <a><input type="radio" name="vote1" value="no" >@Messages("application.no")</a></br></br>
  <button>@Messages("groupadmin.deletevote.button")</button>
  </br></br></br>
  <h4>@Messages("groupadmin.kickoutvote.h4") <input type="text" placeholder='@Messages("groupadmin.kickoutvote.member.placeholder")'> @Messages("groupadmin.kickoutvote.h4.part2")</h4>

  <a><input type="radio" name="vote2" value="yes" >@Messages("application.yes")Yes</a></br></br>
  <a><input type="radio" name="vote2" value="no" >@Messages("application.no")No</a></br></br>
  <button>@Messages("groupadmin.kickoutvote.button")</button>
  
  </br></br></br>
   <h4>@Messages("groupadmin.abdicate.h4") <input type="text" placeholder='@Messages("groupadmin.abdicate.member.placeholder")'></h4>
    <button>@Messages("groupadmin.abdicate.button")</button>
  </fieldset>
  </div>
  
  
    <div class="rightpannel">
<fieldset>
<table class="table table-striped">
				<tbody>
					<tr>
						<th>@Messages("groupadmin.number.th")</th><th>
					</tr>
					<tr>
					<td></td><td>@Messages("application.yes")</td>
					</tr>
					<tr>
					<td></td><td>@Messages("application.no")</td>
					</tr>
				</tbody>
			</table>
			
		 </br></br></br>
		<table class="table table-striped">
				<tbody>
					<tr>
						<th>@Messages("groupadmin.number.th")</th><th>
					</tr>
					<tr>
					<td></td><td>@Messages("application.yes")</td>
					</tr>
					<tr>
					<td></td><td>@Messages("application.no")</td>
					</tr>
				</tbody>
			</table> 
		 
</fieldset>
  </div>
  
  
    
    }
