@(listbook:List[Book])(implicit session:Session, context:Context)

@import helper._

@main("Homeland"){

<style>
#search{
width: 75%;
}
#searchbox
{
width: 90%;	
}


.logo{
  position: absolute;
   top: 100px;
  right: 25%;
}


.rightpannel{
		
float:right;
width:25%;
}

.midlepannel{

margin:0 auto;

width:50%;
}

.leftpannel{
 position: absolute;
   top: 200px;
  right: 74%;
  left:2%
}

.container
    {
    cursor:url(@routes.Assets.at("images/torch.jpeg")), pointer;
    }

</style>

<h1 hidden="true">eZoomBook</h1>
<div class="row-fluid">
    <p>
        <img border="0" src=@routes.Assets.at("/images/ezoombook2.png") width="50%" alt="eZoomBook">
    </p>
    <p>
        This is an innovative platform where you will be able to participate in the world's greatest social reading experiment ever.
        More than just a reading tool, eZoomBook is going to revolutionize the way that you obtain information.
    </p>
   <a href="/tutorial" class="btn btn-primary btn-large">Learn more »</a>&nbsp;&nbsp;<a href="/login" class="btn btn-primary btn-large">Create an account</a>&nbsp;&nbsp;<a href="forum" class="btn btn-primary btn-large">Forum</a>
</div>
<hr class="soften">
<div class="row-fluid">
    <div class="span6">
        <h2>Top books:</h2>
        <table class="table table-striped">
            <thead>
                <th>Title</th><th></th>
            </thead>
            <tbody>
            @for(abook<-listbook){
                <tr>
                    <td><a href="/books/@abook.bookId">@abook.bookTitle</a></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="span6">
        <h2>Find a Book</h2>
        <form id="searchbox" action="">
            <input id="search" type="text" placeholder="Search">
            <input id="submit" type="submit" value="Search" style="width:15%">
        </form>
        <div>
            <a href="/asearch" class="btn">Advanced search</a>
        </div>
    </div>
</div>

}
