@(bookList:List[Book], bookForm:Form[Book])(implicit session:Session, context:Context)

@import helper._
@import ezbhelper._

<script>

function toggle(divtag){
		if(document.getElementById(divtag).style.display=="none"){
			document.getElementById(divtag).style.display="block";
		} else {
			document.getElementById(divtag).style.display="none";
		}
	}
</script>

@main("read a book"){
<div class="container">
<h1>Books</h1>


<li class=e><a href="/books/new" class="bulle">Add a book</a></li>
</br></br></br></br>



			
			
					
					@bookList.grouped(4).map{blist=>
					<div class="row">
					@blist.map{book=>
					<div class="span3">
						<table class="table"><tbody><tr><td><a href="/books/@book.bookId">@book.bookTitle</a></td></tr><tr><td>@book.bookAuthors</td></tr><tr><td>@book.bookPublishedDates</td></tr><tr><td>@book.bookTags</td></tr></tbody></table>
						

						
					</div>
					}
					</div>

					}	
					
			
			
		</div>
	

}
