@(bookList:List[Book], bookForm:Form[Book])(implicit session:Session, context:Context)

@import helper._
@import ezbhelper._

<script>

function toggle(divtag){
		if(document.getElementById(divtag).style.display=="none"){
			document.getElementById(divtag).style.display="block";
		} else {
			document.getElementById(divtag).style.display="none";
		}
	}
</script>

@main("read a book"){
<div class="container"></div>
<h1>Books</h1>


<li class=e><a href="/books/new" class="bulle">Add a book</a></li>
</br></br></br></br></br></br></br></br></br>



			<table class="table table-striped">
				<tbody>
					<tr>
						<th>Title</th><th>author</th><th>dates of publication</th><th>tags</th><th></th>
					</tr>
					@for(abook<-bookList){
					<tr>
						<td><a href="/books/@abook.bookId">@abook.bookTitle</a></td><td>@abook.bookAuthors</td><td>@abook.bookPublishedDates</td><td>@abook.bookTags</td>
						
						<td>
						<a href="/bookreedit/@abook.bookId" class="bulle">edit</a>	
					}	
					</tr>
				</tbody>
			</table>
		</div>
	

}
