@(passwordForm: Form[(String,String)], langForm: Form[String], error : String)(implicit session:Session, context:Context)

@import ezbhelpers._
@import utils.MD5Util

@main("Parameter"){

@modal(modalId = "delete_account",
        modalTitle = Messages("parameters.deleteaccount.header"), None){

     <p>Messages("parameters.deleteaccount.confirm")</p>
}

<h1>@Messages("parameters.header")</h1>

<div class="row">
    <div class="col-md-6">
        <h4>@Messages("parameters.modifylanguage.header")</h4>

        @helper.form(routes.Workspace.changeLang){
            @select(langForm("locale"), options = Seq("fr" -> "French", "en" -> "English"), '_label -> "")
            <div>
                <input type="submit" value='@Messages("parameters.modifylanguage.submit")'>
            </div>
        }

        <a><h5>@Messages("parameters.unsubscribenewsletter.link")</h5></a>

        @defining(MD5Util.md5Hex(context.user.map(u => u.email).getOrElse("ezoomwiki.com"))){icon =>
        <img src="https://www.gravatar.com/avatar/@icon?s=40&amp;d=identicon">
        } <a href="http://en.gravatar.com/emails/">@Messages("parameters.modifyimage.link")<a>

    </div>
    <div class="col-md-6">
        @if(error != ""){

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">x</button>
            @error
        </div>
        }else{}

        <h4>@Messages("parameters.modifyinfo.header")</h4>

        <p>@Messages("parameters.modifypassword.header")</p>

        <div>
            @helper.form(routes.Support.changepass) {
            @inputPassword(passwordForm("password1"), '_label -> <p>@Messages("parameters.modifypassword.input")</p>)
            @inputPassword(passwordForm("password2"), '_label -> <p>@Messages("parameters.modifypassword.confirm.input")</p>)
            <input type="submit" value='@Messages("parameters.modifypassword.submit")'>
            }
        </div>

        <a class="btn btn-primary" data-toggle="modal" href="#infos">@Messages("parameters.deleteaccount.button")</a>
    </div>
</div>

}
