@(book:Book, ezb:Ezoombook, partIndex:Int, layers:Map[String,EzoomLayer],
  partContent:Html, bookStyles:Html, activeLevel:String, zoomTo:Option[AtomicContrib])(
implicit session:Session, context:Context)

@import ezbhelpers._
@import utils.DateFormatter._
@import AppForms.commentForm

@displayLayerContrib(contrib:Contrib) = {
@contrib match{
case atomic:AtomicContrib => {
<div class="row">
    <div class="col-md-10">
        @displayAtomic("",atomic, 0)
    </div>
</div>
}
case part:EzlPart => {
<div class="row">
    <div class="col-md-10">
        <h3>@part.part_title</h3>
        @part.part_contribs.map{partContrib =>
            @displayAtomic(part.part_id.getOrElse(book.bookParts(partIndex).partId), partContrib, 1)
        }
    </div>
</div>
}
}
}

@displayAtomic(partId:String, contrib:AtomicContrib, indent:Int) = {
@contrib.contrib_type match{
case "contrib.Summary" => {
<div class="row summary collapse in">
    <div class="col-md-@(10-indent)">
                        <span>
                        @contrib.contrib_content
                        </span>
                        <span>
                            <a class="comment-btn"
                               title='@Messages("read.contribution.comment.button.title")'
                               href="#commentbox"
                               data-toggle="modal"
                               data-contrib-id="@contrib.contrib_id"
                               data-contrib-auth="@contrib.user_id"
                               data-contrib-type="summary"
                               data-contrib-layer="@contrib.ezoomlayer_id">
                                <span class="glyphicon glyphicon-comment"></span>
                            </a>
                        </span>
    </div>
</div>
}
case "contrib.Quote" => {
<div class="row quote collapse in">
    <div class="col-md-1 col-md-1">
        <span class="badge badge-inverse" style="font-size:20px; float: right; ">&ldquo;</span>
    </div>
    <div class="col-md-7" style='cursor: url(@routes.Assets.at("images/magnify.cur")), auto'>
                    <span>
                    @if(partId == book.bookParts(partIndex).partId){
                    <a class="quote-text zoom-in" id="@contrib.contrib_id"
                       href='#' data-range='@contrib.range.getOrElse("")'>
                        @contrib.contrib_content
                    </a>
                    }else{
                    <a class="quote-text" id="@contrib.contrib_id"
                       href='@routes.EzoomBooks.zoomIn(book.bookId.toString,contrib.ezoomlayer_id.toString,partId,contrib.contrib_id)'>
                        @contrib.contrib_content
                    </a>
                    }
                    </span>
                    <span>
                        <a class="comment-btn"
                           title='@Messages("read.contribution.comment.button.title")'
                           href="#commentbox"
                           data-toggle="modal"
                           data-contrib-id="@contrib.contrib_id"
                           data-contrib-auth="@contrib.user_id"
                           data-contrib-type="quote"
                           data-contrib-layer="@contrib.ezoomlayer_id">
                            <span class="glyphicon glyphicon-comment"></span>
                        </a>
                    </span>
    </div>
</div>
}
}
}
@script={
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.highlight.js")'></script>
<script src='@routes.Assets.at("javascripts/masha.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascript/read.js")'></script>
<script type='text/javascript'>
    @defining(book.bookParts(partIndex).partId.split('#')){array =>
        @if(array.length > 1){
            var partDivId = "@array(1)"
        }else{
            var partDivId = ""
        }
    }

    //TODO Move to read.js
    $(document).ready(function(){
        @zoomTo.map{contrib =>
            if(MaSha.instance){
                @contrib.range.map{range =>
                    var quoteRange = MaSha.instance.deserializeRange("@range");
    console.log("Deserialized range: " + quoteRange);
                    MaSha.instance.addSelection(quoteRange);
                }.getOrElse{
                    MaSha.instance.addSelection("@contrib.contrib_content");
                }

                var elem = $(".user_selection_true").get(0);
                scrollTo('#reader', elem);
            }
        }.getOrElse{
            scrollToPart('#reader', partDivId);
        }
    });
</script>
<script type='text/javascript' src='@routes.Assets.at("javascript/utils.js")'></script>
}

@style = {
<link rel='stylesheet' type='text/css' href='@routes.Assets.at("stylesheets/read.min.css")'>
}

@main("Read", styles=style+=bookStyles, scripts=script){

<!-- Comment Box Modal -->
@modal(modalId="commentbox",
modalTitle=Messages("read.comment.modal.h3"),
formAction = Some(routes.Collaboration.saveComment)){

@hidden(commentForm("commentAuthor"), '_value -> context.user.map(_.id.toString).getOrElse(""))
@hidden(commentForm("commentEzb"), '_value -> ezb.ezoombook_id.toString)
@hidden(commentForm("commentContrib"))
@hidden(commentForm("contribAuthor"))
@hidden(commentForm("contribType"))
@hidden(commentForm("commentLayer"))
@textarea(commentForm("commentContent"), '_label -> "", 'style -> "width: 494px; height: 78px;")

}

<h1>@ezb.ezoombook_title</h1>

<div class="row">
    <div class="col-md-12">
        <div class="btn-group" data-toggle="buttons-radio">
            <a id="showall" class="btn btn-primary" href="#">
                @Messages("read.readoptions.showall.button")</a>
            <a id="hidesummaries" class="btn btn-primary" href="#">
                @Messages("read.readoptions.showquotes.button")</a>
            <a id="hidequotes" class="btn btn-primary" href="#">
                @Messages("read.readoptions.showsummaries.button")</a>
        </div>
    </div>
</div>

<div class="row  reader">
    <div class="tabbable col-md-12">
        <ul class="nav nav-tabs" id="level-tabs">
            <li class='@if(activeLevel == "0"){active}else{}'>
                <a href="#tab0" data-toggle="tab">@Messages("read.leveltabs.original")</a>
            </li>
            @ezb.ezoombook_layers.map{layer =>
            @defining(Map("1"->Messages("read.leveltabs.highlydetailed"),
            "2"->Messages("read.leveltabs.fairlydetailed"),
            "3"->Messages("read.leveltabs.fairlyabridge"),
            "4"->Messages("read.leveltabs.highlyabridge"))){lmap =>
            <li class='@if(activeLevel == layer._1){active}else{}'>
                <a href="#tab@layer._1" data-toggle="tab">
                    @lmap.getOrElse(layer._1, "-")</a>
            </li>
            }
            }
        </ul>
        <div class="tab-content">
            <div class='tab-pane @if(activeLevel == "0"){active}else{}' id='tab0'><!-- Complete book -->
                <div class="btn-group" id="toc_dropdown">
                    <a class="btn btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><i>@Messages("read.toc.dropdown")</i>
                        <span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                        @book.bookParts.map{bookPart =>
                        <li><a href="@routes.EzoomBooks.goToPart(book.bookId.toString,bookPart.partId)">
                            @bookPart.title.getOrElse("- " + Messages("read.toc.subsection"))</a></li>
                        }
                    </ul>
                </div>
                <!-- Reader -->
                <div class="row">
                    <div class="col-md-1">
                        @if(partIndex > 0){
                        <a href='@routes.EzoomBooks.goToPart(book.bookId.toString,book.bookParts(partIndex-1).partId)'>
                            <span class="glyphicon glyphicon-chevron-left"></span></a>
                        }
                    </div>
                    <div class="col-md-10" id="reader" style="overflow:auto;">
                        @partContent
                    </div>
                    <div class="col-md-1">
                        @if(partIndex < book.bookParts.size-1){
                        <a href='@routes.EzoomBooks.goToPart(book.bookId.toString,book.bookParts(partIndex+1).partId)'>
                            <span class="glyphicon glyphicon-chevron-right"></span></a>
                        }
                    </div>
                </div>
                <!-- Reader End -->
            </div>
            @ezb.ezoombook_layers.map{layer =>
            <div class="tab-pane @if(activeLevel == layer._1){active}else{}" id="tab@layer._1">
                <div class="layer">
                    @layers(layer._1).ezoomlayer_contribs.map{contrib =>
                        @displayLayerContrib(contrib)
                    }
                </div>
            </div>
            }
        </div>
    </div>
</div>

}
