@(book:Book, ezb:Ezoombook, partIndex:Int, layers:Map[String,EzoomLayer], partContent:Html, bookStyles:Html)(implicit session:Session, context:Context)

@displayLayerContrib(contrib:Contrib) = {
    @contrib match{
        case atomic:AtomicContrib => {
            <div class="row">
                <div class="span10">
                    @displayAtomic(atomic, 0)
                </div>
            </div>
        }
        case part:EzlPart => {
            <div class="row">
                <div class="span10">
                    <h3>@part.part_title</h3>
                    @part.part_contribs.map{partContrib =>
                        @displayAtomic(partContrib, 1)
                    }
                </div>
            </div>
        }
    }
}

@displayAtomic(contrib:AtomicContrib, indent:Int) = {
        @contrib.contrib_type match{
            case "contrib.Summary" => {
                <div class="row summary collapse in">
                    <div class="span@(10-indent)">
                        @contrib.contrib_content
                    </div>
                </div>
            }
            case "contrib.Quote" => {
            <div class="row quote collapse in">
                <div class="span1 offset1">
                    <span class="badge badge-inverse" style="font-size:20px; float: right; ">&ldquo;</span>
                </div>
                <div class="span8" style='cursor: url(@routes.Assets.at("images/magnify.cur")), auto'>
                    <a class="quote-text" id="@contrib.contrib_id">
                        <i>@contrib.contrib_content</i>
                    </a>
                </div>
            </div>
            }
        }
}
@script={
<script src="/assets/javascripts/jquery.highlight.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
    $(document).ready(function(){
        function zoomOut(e){
            var quote = $(this).text();
            var quoteId = $(this).attr('data-origin');

            $("body p").unhighlight({ element: 'a', className: 'zoom-out' });
            $('#level-tabs li:eq(1) a').tab('show');
            $('#'+quoteId).attr('tabindex',-1).focus();
        }

        $('#showall').click(function(){
            $('.summary').collapse('show');
            $('.quote').collapse('show');
        });
        $('#hidequotes').click(function(){
            $('.quote').collapse('hide');
            $('.summary').collapse('show');
        });
        $('#hidesummaries').click(function(){
            $('.summary').collapse('hide');
            $('.quote').collapse('show');
        });
        $('.quote-text').click(function(e){
            var selected = $(this).children('i').text().replace(/\[[^]\]|\«|\»/g,'').split('\n');
            var quoteId = $(this).attr('id');

            for (var i = 0; i < selected.length; i++) {
                selected[i] = selected[i].trim();
            }

            $('#level-tabs a:first').tab('show');
            $('body p').highlight(selected, {element: 'a', className: 'zoom-out'});
            $('a.zoom-out').attr('data-origin',quoteId);
            $('a.zoom-out').attr('tabindex',-1).focus();
            $('a.zoom-out').click(zoomOut);
        });
    });
//]]>
</script>
}

@main("Read", styles=bookStyles, scripts=script){
<style>
    .ex{
        padding:15px;
    }
    .reader{
        padding-top: 10px;
    }
    iframe{

    }
    a.quote-text {color:#000;}
    a.quote-text:hover {color:#08C;}

    a.zoom-out {color:#000; background-color: #FF8;}
    a.zoom-out:hover {
        color:#08C;
        cursor: url(@routes.Assets.at("images/magnify.cur")), auto
    }

    div.summary{
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px solid #E5E5E5;
    }
    .highlight{
        background-color: #FF8;
    }
</style>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<h1>@ezb.ezoombook_title</h1>

<div  class="row">
    <div class="span12">
        <div class="btn-group" data-toggle="buttons-radio">
            <a id="showall" class="btn btn-primary" href="#">
                @Messages("read.readoptions.showall.button")</a>
            <a id="hidesummaries" class="btn btn-primary" href="#"> <!-- data-toggle="collapse" data-target=".summary"-->
                @Messages("read.readoptions.showquotes.button")</a>
            <a id="hidequotes" class="btn btn-primary" href="#"> <!-- data-toggle="collapse" data-target=".quote" -->
                @Messages("read.readoptions.showsummaries.button")</a>
        </div>
    </div>
</div>

<div class="row  reader">
    <div class="tabbable span12">
        <ul class="nav nav-tabs" id="level-tabs">
            <li class="active"><a href="#tab0" data-toggle="tab">@Messages("read.leveltabs.original")</a></li>
            @ezb.ezoombook_layers.map{layer =>
            @defining(Map("1"->Messages("read.leveltabs.highlydetailed"),
                "2"->Messages("read.leveltabs.fairlydetailed"),
                "3"->Messages("read.leveltabs.fairlyabridge"),
                "4"->Messages("read.leveltabs.highlyabridge"))){lmap =>
            <li><a href="#tab@layer._1" data-toggle="tab">@lmap.getOrElse(layer._1, "-")</a></li>
            }
            }
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab0"><!-- Complete book -->
                <div class="btn-group">
                    <a class="btn btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><i>@Messages("read.toc.dropdown")</i>
                        <span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                        @book.bookParts.map{bookPart =>
                        <li><a href="#">@bookPart.title.getOrElse("- " + Messages("read.toc.subsection"))</a></li>
                        }
                    </ul>
                </div>
                <!-- Reader -->
                <div class="row">
                    <div class="span1">
                        @if(partIndex > 0){
                        <a href='@routes.EzoomBooks.readEzb(book.bookId.toString,book.bookParts(partIndex-1).partId)'>
                            <i class="icon-chevron-left"></i></a>
                        }
                    </div>
                    <div class="span10" id="reader">
                        @partContent
                    </div>
                    <div class="span1">
                        @if(partIndex < book.bookParts.size-1){
                         <a href='@routes.EzoomBooks.readEzb(book.bookId.toString,book.bookParts(partIndex+1).partId)'>
                             <i class="icon-chevron-right"></i></a>
                        }
                    </div>
                </div> <!-- Reader End -->
            </div>
            @ezb.ezoombook_layers.map{layer =>
                <div class="tab-pane" id="tab@layer._1">
                    <div class="layer">
                        @layers(layer._1).ezoomlayer_contribs.map{contrib =>
                            @displayLayerContrib(contrib)
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

}
