@(listbook:List[Book])(implicit session:Session, context:Context)

@import helper._

@main("Homeland"){

<style>
#search{
width: 75%;
}
#searchbox
{
width: 90%;	
}


.logo{
  position: absolute;
   top: 100px;
  right: 25%;
}


.rightpannel{
		
float:right;
width:25%;
}

.midlepannel{

margin:0 auto;

width:50%;
}

.leftpannel{
clear:both;
float:left;
width:25%;
}

.3block{
	
}
</style>

<body>
  <div class="container">
  
<section id="article34" class="menu cool">
</br></br></br>

  <img border="0" src=@routes.Assets.at("/images/ezoombook2.png") width="50%" alt="eZoomBook" class="logo"  >

  
 </br>
 
  
 
   
</br>
    </br></br>
    </br></br>
    </br></br>
    <div class="3block">
<div class="leftpannel">
    <fieldset>
    </br>
    <p>Top books:</p>
    </br>
    
			<table class="table table-striped">
				<tbody>
					<tr>
						<th>Title</th><th></th>
					</tr>
					@for(abook<-listbook){
					<tr>
						//<td>@abook.bookTitle</td>
						
						<td></td>
						
						<input type="submit" value="read"></td>
					}	
					</tr>
				</tbody>
			</table>
		
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
    </fieldset>
</div>

<div class="rightpannel">
    <fieldset>
    </br>
    </br> </br>
    </br>
    </br>
    </br> </br>
    </br>
    </br> </br>
   
   
     </br> </br>
    </br>
    </br>
    </br>
    </br>
    <center><p>First time ?</p>
     <p>Check our tutorial :</p>
     
   <p><a href="/tutorial"><button type="submit">Start here !</button></a></p></center>
     </br>
    </br>
    </br> </br> </br>
    </br>
    </br> </br> </br>
    </br>
   
    </br> </br>
    </br>
   
    </br>
    </br>
    </br>
    </fieldset>
</div>
<div class="midlepannel">
    <fieldset>
    <p>Find your text in a few clicks :</p>
    <fieldset>
    <form id="searchbox" action="">
    <input id="search" type="text" placeholder="Search">
    <input id="submit" type="submit" value="Search" style="width:15%">
   
</form>
 <a href="/asearch"><button type="submit">advence search</button></a>
    </fieldset>
    </br>
 <div style="height:510px;width:100%;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
    </br>
    </br> </br> </br>
    </br>
    </br> </br> </br>
    </br> </br>
    </br>
    </br> </br> </br>
    </br> </br>
    </br>
    </br> </br> </br>
    </br> </br> </br> </br>
    </br>
    </br> 
    </br> 
    </fieldset>
   
    </div>
</div>



</div>
</section>
</div>
</body>

}
