@(projlist:List[ListedProject], listezb:List[Ezoombook], listmyb:List[Book], userGroups:List[Group], colabGroups:List[Group], groupForm:Form[(String, String)])(implicit session:Session, context:Context)

@import utils.EzbHelpers._
@import helper._
@import ezbhelper._
@import utils.MD5Util
@import utils.DateFormatter._

@scripts = {
<script type="text/javascript">//<![CDATA[
    $(document).ready(function(){

      $('.deleteProjectButton').click(function(){
        var projId = $(this).attr('data-projId');
        $('#deleteProjectForm').attr('action','/project/delete/'+projId);
      });

      $('.ezbDeleteButton').click(function(){
        var ezbId = $(this).attr('data-ezbId');
        $('#deleteEZBForm').attr('action','/ezb/delete/'+ezbId);
      });

    });

    function toggle(divtag){
    if(document.getElementById(divtag).style.display=="none"){
    document.getElementById(divtag).style.display="block";
    } else {
    document.getElementById(divtag).style.display="none";
    }
    }
    //]]>
</script>
}

@main(Messages("workspace.title"), scripts){
<!-- Delete project modal alert -->
<div id="projectDeleteAlert" class="modal hide fade" tabindex="-1" role="dialog"
     aria-labelledby="deleteAlertHeader" aria-hidden="true">
     <form method ="post" id="deleteProjectForm">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="deleteAlertHeader">@Messages("workspace.deleteproject.h3")</h3>
        </div>
        <div class="modal-body">
            <p>@Messages("workspace.deleteproject.alert")</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal"
	  aria-hidden="true">@Messages("application.cancel.button")</button>
            <input type="submit" class="btn bnt-primary"
                    value='@Messages("application.delete.button")'>
        </div>
     </form>
</div> <!-- Modal End -->

<!-- Delete eZoomBook modal alert -->
<div id="ezbDeleteAlert" class="modal hide fade" tabindex="-1" role="dialog"
     aria-labelledby="ezbDeleteAlertHeader" aria-hidden="true">
     <form method ="post" id="deleteEZBForm">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="ezbDeleteAlertHeader">@Messages("workspace.deleteEZB.h3")</h3>
        </div>
        <div class="modal-body">
            <p>@Messages("workspace.deleteEZB.alert")</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">@Messages("application.cancel.button")</button>
            <input type="submit" class="btn bnt-primary"
                    value='@Messages("application.delete.button")'>
        </div>
     </form>
</div> <!-- Modal End -->

<!-- Create group modal -->
<div id="groupFormModal" class="modal hide fade" tabindex="-1" role="dialog"
     aria-labelledby="groupFormHeader" aria-hidden="true">
    @form(action=routes.Community.newGroup){
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="groupFormHeader">@Messages("workspace.creategroup.modal.h3")</h3>
        </div>
        <div class="modal-body">
            @inputText(groupForm("groupName"), '_label -> Messages("workspace.creategroup.modal.groupname"))
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">@Messages("application.cancel.button")</button>
            <input type="submit" class="btn bnt-primary"
                   value='@Messages("workspace.creategroup.modal.button")'>
        </div>
    }
</div> <!-- Modal End -->

<center><h1>@session.get("userName")'s Workspace</h1></center>

<div class="row">
<div class="span3">
    @defining(MD5Util.md5Hex(context.user.map(u => u.email).getOrElse("ezoomwiki.com"))){icon =>
    <img src="https://www.gravatar.com/avatar/@icon?s=250&amp;d=identicon">
    }
    </br>
    <table class="table table-striped">
        <tbody>
        <tr>
            <th><i class="icon-envelope"></i>&nbsp;Message</th>
            <th>author</th>
            <th>date</th>
            <th></th>
        </tr>

        </tbody>
    </table>
</div>


<div class="span9">

    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab"><i class="icon-edit"></i>&nbsp;@Messages("workspace.tab.contribution.title")</a></li>
        <li><a href="#tab2" data-toggle="tab"><i class="icon-globe"></i>&nbsp;@Messages("workspace.tab.community.title")</a></li>
        <li><a href="#tab3" data-toggle="tab"><i class="icon-book"></i>&nbsp;@Messages("workspace.tab.books.title")</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">  <!-- Projects -->
            <h2>@Messages("workspace.projects.h2")</h2>

            <table class="table table-striped">                
                <thead>
                    <th>@Messages("workspace.projects.project.th")</th>

                    <th>eZoomBook</th>
                    <th>@Messages("workspace.projects.creationdate.th")</th>
		            <th></th>
                </thead>
		        <tbody>
                @projlist.map {proj =>
                <tr>
                    <td><a href='@routes.Collaboration.projectAdmin(proj.projId.toString)'>@proj.projName</a></td>
                    <td>@proj.ezbTitle</td>
                    <td>@dateFormat(proj.projectCreationDate,
                    "dd-MM-yyyy")</td>
		             <td>
                     @context.user.map{
                         case user if(proj.projOwner == user.id) => {
                              <a class="btn deleteProjectButton"
                                href="#projectDeleteAlert"
                                title='@Messages("workspace.ezoombooks.delete.button")'
                                data-toggle="modal"
                                data-projId="@proj.projId.toString">
                                         <i class="icon-remove"></i>
                              </a>
                         }
                         case _ => { @None }
                     }.getOrElse(Html(""))
        		    </td>
                </tr>
                }
                </tbody>
            </table>
            
            <h2>@Messages("workspace.ezoombooks.h2")</h2> <!-- eZoomBooks -->

            <table class="table table-striped">
                <thead>
                    <th>@Messages("workspace.ezoombooks.name.th")</th>
                    <th></th>
                </thead>
                <tbody>
                @for(g<-listezb){
                <tr>
                    <td><a href="/read/@g.ezoombook_id">@g.ezoombook_title</a></td>
                    <td>
                        <a id="ezbEditButton"
                           href="@routes.EzoomBooks.ezoomBookEdit(g.ezoombook_id.toString)"
                           class="btn" title='@Messages("book.ezoombooks.edit.button")'>
                            <i class="icon-pencil"></i>
                        </a>
                        <a class="btn ezbDeleteButton"
                          href="#ezbDeleteAlert"
                          title='@Messages("workspace.ezoombooks.delete.button")'
                          data-ezbId="@g.ezoombook_id.toString"
                          data-toggle="modal">
                            <i class="icon-remove"></i>
                        </a>
                    </td>
                </tr>
                }
                </tbody>
            </table>

        </div>
        <div class="tab-pane" id="tab2"> <!-- Friends Tab -->
            <h2>@Messages("workspace.friends.h2")</h2>
            <p><a>@Messages("workspace.friends.add.link")</a></p>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>@Messages("workspace.friends.name.th")</th>
                    <th>@Messages("workspace.friends.group.th")</th>
                    <th>@Messages("workspace.friends.favbook.th")</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Scot</td>
                    <td>Dantes group</td>
                    <td>Desperate Remedies, Alice in Wonderland</td>
                </tr>
                </tbody>
            </table>

            <h2>@Messages("workspace.groups.h2")</h2> <!-- Groups -->

            <p><a data-toggle="modal" href="#groupFormModal">@Messages("workspace.groups.add.link")</a></p>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>@Messages("workspace.groups.title.th")</th>
                    <th>@Messages("workspace.groups.youwon.th")</th>
                </tr>
                @for(g<-userGroups){
                <tr>
                    <td><a href="@routes.Community.group(g.id.toString())">@g.name</a></td>
                    <td>X</td>
                </tr>
                }

                @for(g<-colabGroups){
                <tr>
                    <td><a href="@routes.Community.group(g.id.toString())">@g.name</a></td>
                    <td></td>
                </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="tab3"> <!-- Books Tab -->

            <h2>@Messages("workspace.books.h2")</h2>

            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>@Messages("workspace.books.name.th")</th>
                    <th></th>
                </tr>
                @for(g<-listmyb){
                <tr>
                    <td><a href="/books/@g.bookId">@g.bookTitle</a></td>
                    <td><a href="/bookreedit/@g.bookId" class="btn" >@Messages("workspace.books.edit.button")</a></td>

                </tr>
                }
                </tbody>
            </table>

            <h2>@Messages("workspace.books.readinglist.h2")</h2>

            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>@Messages("workspace.books.readinglist.title.th")</th>
                    <th></th>
                </tr>

                </tbody>
            </table>

            <h2>@Messages("workspace.books.favorites.h2")</h2>

            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>@Messages("workspace.books.favorites.title.th")</th>
                    <th></th>
                </tr>

                </tbody>
            </table>

        </div>
    </div>

</div>
</div>

}
