@(userGroups:List[Group], colabGroups:List[Group], groupForm:Form[(String, String)])(implicit session:Session, context:Context)

@import utils.EzbHelpers._
@import helper._
@import ezbhelper._


@scripts = {
<script type="text/javascript">//<![CDATA[
$(document).ready(function(){
    $('#btnAddAuth').click(function () {
        cloner('authors');
    });
    $('#btnAddLang').click(function () {
        cloner('languages');
    });
    $('#btnAddPublshr').click(function () {
        cloner('publishers');
    });
    $('#btnAddPubDate').click(function () {
        cloner('published_dates');
    });
    $('#btnAddTag').click(function () {
        cloner('tags');
    });
});



function toggle(divtag){
		if(document.getElementById(divtag).style.display=="none"){
			document.getElementById(divtag).style.display="block";
		} else {
			document.getElementById(divtag).style.display="none";
		}
	}


//]]>

</script>
}


@main("Welcome to your Workingspace", scripts){

<style>

.raccount{
width:200px;
float:right;
}

.parameter{
  position: absolute;
   top: 220px;
  right: 75px;
}

.logout{
  position: absolute;
   top: 220px;
  right: 15px;  
}
.rightpannel{

float:right;
width:50%;
}

.leftpannel{
clear : both;	
float:left;
width:50%;
}
</style>

<section id="article34" class="menu cool">

    <h1>@session.get("userName")'s Working Space</h1>

      <div class="leftpannel">
    <fieldset>
            <legend><h1>project</h1></legend>
     <div class="CSSTableCool" >
     <table>
				<tbody>
					<tr>
						<th>Project</th><th>group</th><th></th>
					</tr>
					
				</tbody>
			</table>
		</div>
		
   </fieldset> 
   
   <fieldset>
            <legend><h1>Readlist</h1></legend>
     <div class="CSSTableCool" >
     <table>
				<tbody>
					<tr>
						<th>Books</th><th></th>
					</tr>
					
				</tbody>
			</table>
		</div>
   </fieldset> 
   <fieldset>
            <legend><h1>Favorite books</h1></legend>
     <div class="CSSTableCool" >
     <table>
				<tbody>
					<tr>
						<th>Book</th><th></th>
					</tr>
					
				</tbody>
			</table>
		</div>
   </fieldset> 
   <fieldset>
            <legend><h1>My friends</h1></legend>
     <div class="CSSTableCool" >
     <table>
				<tbody>
					<tr>
						<th>Name</th><th>Groups</th><th>Favorite books</th><th></th>
					</tr>
					
				</tbody>
			</table>
		</div>
		<h4>@inputText(groupForm(""))</h4>
		<dl>
		<li onClick="toggle('seeuser')"><h3>Add a friend
			
		</h3></li>
		
			<div id="seeuser" style="display:none" class="CSSTableCool">
				<table>
				<tbody>
					<tr>
						<th>Name</th><th>Groups</th><th>Favorite books</th><th></th>
					</tr>
					
				</tbody>
			</table>
		</div>
		
		</dl>
		
   </fieldset>
    </div>
    
  <div class="raccount">
    <fieldset>
   <legend><P><strong>My account</strong></p></legend>
   <p>Welcome @session.get("userName")</p>
   <div>
      <form href="#" method="GET">
   <button type="submit" class="parameter">parameter</button>
   	</form>
   @form(routes.Application.userLogout){
   	<input type="submit" class="logout" value="log out">
   }
   </form></div><img src="smiley.gif" alt="Smiley face" width="42" height="42">
   </fieldset>
   
</div>

</br></br> </br></br></br> </br></br>

  <div class="rightpannel">
<fieldset>
<h1 style="float:left">Create a group</h1>
</br></br></br></br>

 @form(routes.Community.newGroup){
	    <h4>@inputText(groupForm("groupName"),'_label->"Name of the group")</h4>
	   
	   @hidden(groupForm("ownerId"), 'value -> session.get("userId"))
	    <input type="submit" value="Create a group">
	     }
</br>
<fieldset>
            <legend><h1>My groups</h1></legend>
  
    
    <div class="CSSTableCool" >
			<table>
				<tbody>
					<tr>
						<th>Title</th><th>You own</th><th></th>
					</tr>
					@for(g<-userGroups){
					<tr>
						<td>@g.name</td>
						<td>X</td>
						<td>
						@form(routes.Community.group(g.id.toString())){
						<input type="submit" value="choose this group"></td>
					}	
					</tr>
					}
					
					@for(g<-colabGroups){
					<tr>
						<td>@g.name</td>
						<td></td>
						<td>
						@form(routes.Community.group(g.id.toString())){
						<input type="submit" value="choose this group"></td>
						}
					</tr>
					}
				</tbody>
			</table>
		</div>

    </fieldset>
    </fieldset>
  <fieldset>
            <legend><h1>New Message</h1></legend>
     <div class="CSSTableCool" >
     <table>
				<tbody>
					<tr>
						<th>Message</th><th>author</th><th>date</th><th></th>
					</tr>
					
				</tbody>
			</table>
		</div>
   </fieldset> 
    </div>
</section>

    }  
