@(books:List[(String, Long)], bookForm:Form[Book])(implicit session:Session)

@import helper._

@scripts = {
<script type="text/javascript">//<![CDATA[
$(document).ready(function(){
    $('#btnAddAuth').click(function () {
        cloner('authors');
    });
    $('#btnAddLang').click(function () {
        cloner('languages');
    });
    $('#btnAddPublshr').click(function () {
        cloner('publishers');
    });
    $('#btnAddPubDate').click(function () {
        cloner('published_dates');
    });
    $('#btnAddTag').click(function () {
        cloner('tags');
    });
});
//]]>
</script>
}

@main("Welcome to your Workingspace", scripts){

    <h1>@session.get("userName")'s Working Space</h1>

    @form(routes.Community.groups){
	<input type="submit" value="Go to groups -->" >
    }

    <h2>Your books: </h2>

    <u1>
         @books.map {b =>
             <li>@b._1 : @b._2</li>
	 }
    </u1>

    <h2>Add a book:</h2>

    @if(! bookForm.value.map(b => true).getOrElse(false)){
        @form(routes.EzoomBooks.loadBook,
             'enctype -> "multipart/form-data"){
            <input type="file" name="book">
        <p>
             <input type="submit">
        </p>
        }
    }

    @form(routes.EzoomBooks.newBook){
	    @inputText(bookForm("title"))
        @repeat(bookForm("authors")){f =>
            <div id="authors0" style="margin-bottom:4px;" class="authors">
            @inputText(f)
            </div>
        }
        <input type="button" id="btnAddAuth" value="Add another author" >

        @repeat(bookForm("languages")){f =>
            <div id="languages0" class="languages">
                @inputText(f)
            </div>
        }
        <input type="button" id="btnAddLang" value="Add another language" >

        @repeat(bookForm("publishers")){f =>
            <div id="publishers0" class="publishers">
                @inputText(f)
            </div>
        }
        <input type="button" id="btnAddPublshr" value="Add another publisher" >

        @repeat(bookForm("published_dates")){f =>
            <div id="published_dates0" class="published_dates">@inputText(f)</div>
        }
        <input type="button" id="btnAddPubDate" value="Add another published date" >

        @repeat(bookForm("tags")){f =>
            <div id="tags0" class="tags">@inputText(f)</div>
        }
        <input type="button" id="btnAddTag" value="Add another tag" >

        @textarea(bookForm("summary"))
        <input type="submit" value="Go!">
    }
}

